[2015-01-17 12:20] olalonde opened #1 "No section for "Public Master Keys" or BIP32/39 wallets"
Some wallets such as Electrum allow the user to export a "read only seed" from which only public keys can be generated. I think there should be a section in the guidelines regarding this. For example, a little known "gotcha" is that a single private key from a wallet is needed to generate all possible private keys given the "read only seed". I'm not sure however where this would fit in the criteri

[2015-01-17 17:47] kristovatlas commented on #1
@olalonde what's the privacy impact to a wallet user?

[2015-01-21 06:28] evoskuil commented on #1
@kristovatlas - the privacy impact is that someone with a master public key effectively knows every public key in the wallet. In other words all of the wallet's keys are tainted by relationship to each other.

There is also an integrity impact. With the compromise of _any_ private key and a master public key, one can recover _all_ private keys in the wallet. Limiting this problem is the purpose of

[2015-01-21 08:27] alonmuroch opened #2 "Outgoing transactions - shuffle outputs"

[2015-01-22 17:09] ghost opened #3 "Software Exposure"
Something that might be of value to mention in this document is that most wallet software today leaks it's identity through the transactions it creates. In a large number of cases it's possible to observe a cluster of related transactions and build up a pretty good idea of the client which is in use. In my experience over half of all transactions can be nailed down to a particular piece of softwar

[2015-01-22 18:41] kristovatlas commented on #3
That's really interesting. If I understand correctly, you're talking about a wallet client fingerprint on the blockchain, and presumably it could also have a distinctive network fingerprint as well.

[2015-01-22 19:34] ghost commented on #3
Yes. You can often map a transaction to the software which made it, or at least cut it down to one of a small subset. Network fingerprints are something different altogether, you can tie a particular Bitcoin Core node to an address by using transaction baits (tricking the node to reveal it's ownership of an address), but this has fairly low utility as most wallets won't be listening for network co

[2015-01-31 01:20] ghost commented on #1
Absolutely nobody should ever be spreading a Master Public Key, despite it's name it needs to remain private. For this reason Electrum doesn't give the remote server the MPK but only keys derived from it. Based on their comments Blockchain.info's BIP32 wallet will be passing the MPK to the remote server, which is devastating from a privacy and security viewpoint.

[2015-01-31 01:55] evoskuil commented on #1
It would not be as bad if it was a user choice (ie opt out of privacy), as there are scenarios that it facilitates. But never as default behavior. In terms of privacy it's comparable to using a public address, which is of course common.

In the case of Electrum, uploading a set of addresses from the same IP address (or the same Tor channel) still exposes the set of addresses to correlation. And ov

[2015-01-31 02:20] olalonde commented on #1
I absolutely disagree. First, it's a big step up from sharing private keys or using a hosted wallet (e.g. Coinbase) which a lot of Bitcoin users don't seem to care too much about sadly. Second, there's a bunch of use cases for sharing a MPK (the immediate one that comes to mind right now is financial audit of exchanges or non profits who want to be transparent about finances).

[2015-01-31 02:57] ghost commented on #1
@evoskuil
You've completely missed the point. A monitoring Electrum server gains insight into the current wallet addresses, a fictional one with access to the MPK can monitor it forever. The privacy considerations are vastly different, and you're opening people up to phishing attacks "export an empty private key for me, there's no harm in that right?".

@olalonde
Most people don't concern themselv

[2015-01-31 04:27] evoskuil commented on #1
Phishing attacks from someone who already has your MPK are not privacy questions, they deal with integrity. Ideally it's best not to give up private keys. But this is a red herring. The question is regarding privacy. A bad privacy model doesn't improve because it's not as bad as another from an integrity standpoint.

Compromise of a MPK compromises future addresses as long as it continues to be us

[2015-01-31 05:03] ghost commented on #1
There's a big difference between having a cryptographic proof (a MPK) linking addresses and hearsay.

Given the ineptitude of Blockchain.info and Electrum it would be pretty foolish to assume that they aren't going to leak nonces again in the future as well. Spreading your MPK is just unnecessary exposure.

[2015-01-31 05:27] evoskuil commented on #1
Different yes, but how exactly is it less significant? I'd call it a distinction without a difference. In fact identity-based correlation is arguably much more significant.

Whether it's unnecessary or even problematic is scenario dependent.

Web wallets are problematic on multiple levels, but clearly any existing wallet that is not full chain has search-related privacy issues. This includes those

[2015-01-31 05:44] ghost commented on #1
- "I observed these two requests, therefor I believe `a` and `b` are related"
- "Here is cryptographic proof by way of an MPK proof that  `a` and `b` are related"

There's a massive difference.

Traditional bloom filters are in no way private, made especially so by the lack of junk retention. The privacy model described in BIP37 is broken as well as the software which implements it.

http://eprint

[2015-01-31 05:51] olalonde commented on #1
(didn't read other comments yet) @PrivacyDestroyer agree with your point but there's also a balance to be reached between convenience and privacy/security. One danger of setting too high standards for security/privacy is that users may end up completely ignoring them. I could be wrong but I think the idea of this wallet rating project comes from the realisation that not all users will use 100% pri

[2015-01-31 06:03] evoskuil commented on #1
Yes, bloom filters are poorly implemented. I was referring to the fact that the stateful protocol doesn't allow for recovery of missed updates or restore, but you are correct that the core implementation suffers from other issues.

WRT what constitutes proof, correlation is sufficient for most anything that matters to anyone. See Silk Road.

[2015-01-31 06:11] ghost commented on #1
Perhaps it would be best to start off with defining what privacy in Bitcoin should afford you and in what situations. At least from my vantage point, there's zero transactional privacy beyond the simple fact that usually nobody is bothering to look.

[2015-01-31 09:39] evoskuil commented on #1
It's a good question, maybe we take for granted that we all have a common understanding.

I personally consider three aspects of financial privacy, and a fourth pertaining specifically to Bitcoin. I've never formalized it, so please pardon the ad-hoc taxonomy.
- Public Trade
- Private Trade
- Anonymous Trade
- Bitcoin User

The first is the idea that parties to a trade expect others to be aware of

[2015-01-31 12:52] ghost commented on #1
I think a lot of this is somewhere between hard and impossible.
- Hiding that you purchased a coffee is more difficult than it sounds.
  - It's easy to poison the coffee shop's wallet and from there on out you know every single transaction made to them. Without totally altering how Bitcoin works you're not going to prevent merges from happening on any sort of scale.
  - Observing a person walking

[2015-01-31 18:48] evoskuil commented on #1
- The coffee shop scenario is listed and described as "public".
- The fourth does not require that one connect to a Bitcoin node.
- Blockchain or traffic analysis to discover "information" is interesting but not a loss of privacy unless it connects to a person. Of course this is my definition, but I think it would be very hard to argue otherwise.

[2015-02-01 00:39] ghost commented on #1
Right, sorry I misinterpreted your list items slightly.

[2015-02-01 02:42] LaurentMT commented on #1
This typology raises some interesting points related to cryptocurrencies and blockchain analysis.

When you buy a coffee at Starbucks, you expect others to be aware of the trade but you don't expect the barista to know your financial incomes or your wealth.

With cash or credit card, there is little risks. With cryptocurrencies, this is a possible threat (b/o bad privacy practices like address reu

[2015-02-01 04:23] ghost commented on #1
..

I think that's quite an important point too. People don't _expect_ for other parties to know how much money they own, or know that the person buys alpaca socks, or that they normally buy coffee at the other shop down the street. Even without an identity attached these are all incredibly revealing pieces of information. A lot of users seem to be under the false impression that they are anonymou

[2015-02-01 11:34] evoskuil commented on #1
Hi @LaurentMT,

I think it's important to be clear on the distinction between a taxonomy of privacy and what level of privacy people do or should expect.

For example, the discussion of the coffee scenario, in which a public trade may leak previous private trades (savings/income), should not conflate the two. The former is not intended to be private, the latter are. The fact that the public trade

[2015-02-01 17:15] LaurentMT commented on #1
@PrivacyDestroyer
I fully agree. WRT privacy, online shared wallets are similar to the current banking model (as described in Satoshi's white paper). Personal wallets, as implementations of a different model, need to rebuild the "privacy stack" from the ground.

@evoskull
You're 100% right. What I've described in previous post is a taxonomy of attackers, defining levels of privacy and this notion

[2015-02-02 10:33] evoskuil commented on #1
@LaurentMT I like the direction this is heading.

The primary concern I have with the project's approach is its focus on features. The inclusion of a feature or technique does not guarantee that an objective is achieved. For example, two factor authentication is often described as a security (integrity) benefit. But what is the specific objective? Presumably to ensure that two secrets must be conc

[2015-02-03 19:56] LaurentMT commented on #1
@evoskuil

I understand your concern with the feature-oriented approach. I guess everybody at OBPP would agree to use clear quantitative metrics to rate privacy provided by wallets or services. The problem is that defining (and measuring) the right indicators may be a very long (or even a "never-ending") task.

Therefore, I'm really supportive of the choice made by Kristov & al. for a pragmatic fi

[2015-02-03 21:55] evoskuil commented on #1
It's very possible that the approach could do more harm than good. I see a lot of lies behind the advertising and discussion of products, and it's mostly enabled by feature focus. Really dangerous stuff. I would call it naïveté if the issues hadn't been surfaced in discussions.

Imagine if this wasn't some editorial process, but one with liability. Would you stand behind such a system? No chance i

[2015-02-03 23:07] LaurentMT commented on #1
I agree that the scoring may be misused/misinterpreted. Applying a quantitative measure to a qualitative appreciation is always risky. How to prove your objectivity as the auditor if you can't rely on precise measurements ? Difficult task for sure. But, you know, our modern society likes short messages...like scores.

I think the document should have a clear statement that these features don't mea

[2015-02-03 23:12] evoskuil commented on #1
It's quite straightforward to list features and to drop the rating system. That makes the process quantitative (in terms of features implemented) and with a disclaimer on implementation of the features, removes the implementation endorsement.

There are formalisms in security and privacy analysis, but they are complex and don't get much if any play in the Bitcoin space.

[2015-02-03 23:44] evoskuil commented on #1
MITM phishing attack breaks so-called MFA: https://www.reddit.com/r/Bitcoin/comments/2ungby/fuck_i_just_got_scammed

[2015-02-10 23:27] SergioDemianLerner opened #5 "Breaking privacy by identifying payed and change amounts"
In Change Addresses Quality, there is another item that should be more precisely listed.
You can find out which is the change address by taking into account that, if the software tries to optimize the transaction size and it tries to use as little inputs as possible, and more than one inputs is chosen, then the following conditions that leak information will hold:

If inputs are I(1) .. I(N), and

[2015-02-10 23:36] SergioDemianLerner opened #6 "Breaking privacy in payed amounts by identifying fiat currency amounts"
Other way to identify payed amounts that were converted from fiat to BTC is to look up the historical data of BTC/fiat prices and try to find conversions where the fiat value has a small number of decimal digits. Trade prices differ from exchange to exchange, but still you could check against several ones. Current BTC volatility probably blurs the price...but maybe not in the future.

The only way

[2015-02-25 00:52] justusranvier commented on #2
This is already covered by II.i.b.a

[2015-02-25 00:52] #2 closed, assigned to nobody

[2015-02-25 03:04] kristovatlas commented on #3
We need some more time to think about how this could be turned into a measurable metric. Aiming for Q2

[2015-02-25 03:05] kristovatlas commented on #5
This is excellent input. Thank you, @SergioDemianLerner. @justusranvier will author a pull request to reflect this for Q1.

[2015-02-25 03:08] kristovatlas commented on #6
Good observation. Thankyou, @SergioDemianLerner. I believe this boils down to the "significand attack." Privacy-centric altcoins have tried to tackle this problem, and generally addressed it with uniform denominations and careful handling of change. We'd like to take some more time to think about how it would be reasonably dealt with by a wallet and incorporate into the Q2 version of this rating d

[2015-02-26 18:08] #5 closed, assigned to justusranvier

[2015-03-29 17:33] kristovatlas opened #7 "Weighting of criteria not published"
The weightings assigned to criteria to determine an overall score have not been published in this repository.

[2015-03-29 17:33] kristovatlas commented on #7
@justusranvier

[2015-03-29 18:12] kristovatlas opened #8 "Clear instructions to perform a test for each criterion should be included."
This will improve scoring consistency and make criteria clear to the public.

[2015-04-05 17:21] kristovatlas opened #9 "Separate backup ratings for HD address vs. single private keys"
HD architecture makes it easy to backup HD private keys from a single seed, and to prevent backups from going stale. However, since non-HD private keys are still common in the Bitcoin ecosystem (e.g. paper wallets), HD wallet clients often need to include functionality import these non-HD private keys, which are necessarily outside of the HD structure.

Private keys can be swept into the HD struct

[2015-05-17 15:11] kristovatlas opened #13 "Metric: Transaction creation and signing code is open source"
As @sergiodemianlerner pointed out on Twitter<sup>1</sup>, it's important to look out for covert channels of leaking security- or privacy-sesitive information. We should add a metric for whether the code that drafts and signs trasnactions is open source and therefore readily auditable. I imagine most wallets will pass this metric.

<sup>1</sup>: https://twitter.com/sdlerner/status/5993635086822400

[2015-05-22 23:27] JeremyRand opened #17 "Considering Whonix in addition to Tails?"
Has there been any discussion of adding a criterion for Whonix compatibility (in addition to Tails)?  I'm not sure how compatible Whonix is compared to stock Debian (on which it's based); but it seems like something that a number of privacy-conscious users would be interested in.  Thoughts?

[2015-05-25 19:08] schildbach opened #18 ""Identity separation" criterium"
I think the criterium for being able to manage multiple identities should be fulfilled also when the OS allows to switch users (like Android does for example). The reason is you'd better manage identities OS-globally anyways. Payment almost always involves more communication via e-mail, chat or web browser. If those apps don't switch identities at the same time as the wallet does, you'll link your

[2015-05-25 19:10] schildbach commented on #13
Perhaps it should even be valued if the source is free software: projects that are open source but using restricted licenses tend to have less peers than free software projects.

[2015-05-25 21:53] justusranvier commented on #18
That's an interesting approach.

I'm not sure how many users are currently aware of OS-level identity management capabilities.

[2015-05-25 21:55] justusranvier commented on #13
We need to think about how this fits into the threat model.

[2015-05-25 22:04] JeremyRand commented on #13
Would also be interesting to consider reproducible builds, since otherwise the source code is only useful if the users builds from source (which almost no one does in practice).

[2015-05-25 22:54] schildbach commented on #18
The ability to switch users reaches back to Android 4.2. On Android 5 and above, there is a big cyan-colored "switch user" icon in the top right corner of the quick settings.

![device-2015-05-26-005323](https://cloud.githubusercontent.com/assets/743306/7802925/b93bd50a-0341-11e5-9c83-83063e008eca.png)

[2015-05-25 22:58] schildbach commented on #13
I agree with @JeremyRand

[2015-05-31 21:53] kristovatlas commented on #17
A bit more detail about Whonix:

It consists of two virtual machine images, primarily intended for use with VirtualBox. One is a "workstation" image, and another is a "router" image.

Other notes:
- The images combined are about 3.1 GB, and some setup is required. [1]
- Privacy is more prone to compromise via host malware infection than with Tails.
- Adding this to the criteria would increase the

[2015-05-31 21:54] kristovatlas commented on #13
Also agree with @JeremyRand and @schildbach about reproducible builds. Thanks for the suggestion.

[2015-05-31 21:59] kristovatlas commented on #7
Completed here: https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/blob/master/2015-1/weights.wiki

[2015-05-31 22:00] #7 closed, assigned to nobody

[2015-06-01 01:14] JeremyRand commented on #17
Not necessarily; it's more of a tradeoff.  It is true that Whonix will retain malware infections across reboots, while Tails does not.  However, Tails allows malware with root access to bypass Tor, whereas Whonix additionally requires malware to break out of VirtualBox to be able to bypass Tor.

Yes, I think this is the biggest concern I have about adding such a criterion.  I'm not sure how diverg

[2015-06-01 02:11] kristovatlas opened #19 "different types of addresses used as outputs"
Sending predictably to different types of addresses can reveal information about the transaction, such as which output corresponds to a change address. Examples:
- sending to both P2PKH & P2SH
- sending to both compressed and uncompressed addresses, "# of keys, low-S sigd, nLockTime etc."

References:
- https://twitter.com/lopp/status/600821521658081280
- https://twitter.com/petertoddbtc/status/60

[2015-06-01 02:13] kristovatlas opened #20 "ratings should cover different utxo selection strategies"
Helpful reference:
https://medium.com/@lopp/the-challenges-of-optimizing-unspent-output-selection-a3e5d05d13ef

[2015-06-02 00:37] kristovatlas commented on #18
Let's include this as a method of identity separation and count clicks.

[2015-06-03 04:08] kristovatlas opened #21 "add attacker to threat model: wallet provider"
wallet provider can:
- ship malicious binaries
  - countermeasure: users can build binary themselves
  - countermeasure: build system is deterministic, allowing multiple builders to build the same binary and sign them

[2015-06-03 04:11] kristovatlas opened #22 "break network peer attackers into 2 kinds of attackers"
- protocol-level peers
  - annotate with examples:
    - global passive adversary (e.g. NSA): can see most of connections at once
    - sybil attacker (e.g. chainalysis) tries to coerce connections
    - peer(s) designated for communication. may be a monolithic server, federated server, light clight, or full node peer.
- network-level peer
  - annotate with examples:
    - ISP
    - Tor nodes

[2015-06-03 04:14] kristovatlas opened #23 "Generalize threat model & metrics to apply to multiple currencies"
Generalize metrics to be applicable for multiple currencies so that that currencies can be considered under a single threat model, rated, and compared. This will help answer questions such as “how does the effectiveness of Monero’s ring signatures compare to Bitcoin’s CoinJoin?”

[2015-06-03 04:15] kristovatlas opened #24 "new tx participant attack: track coins from address known to be associated with you"

[2015-06-03 04:18] kristovatlas opened #25 "add attacker to threat model: physical attacker"
physical attackers can:
- conduct physical surveillance, especially against mobile users, to get sensitive information from screen or contextually tie blockchain activity to visual activity
- detect the existence of a wallet on a device
- perform forensic analysis on a device, searching for sensitive information about a wallet
  - countermeasures: encryption, steganography, etc.

[2015-06-03 04:20] kristovatlas opened #26 "add attacks: fingerprint wallet client using blockchain or network data"
attacker can, e.g. perform many transactions and observe behavior, then build statistical model using machine learning.

[2015-06-03 04:22] kristovatlas opened #27 "add attack: attacker can derive all child public keys from extended public key"
If a wallet client sends an extended pub key to a peer, e.g. balance lookup server, the peer can tie all child addresses to the root extended public key.

[2015-06-08 23:23] kristovatlas commented on #27
A client might send xpub key to a balance lookup server

[2015-06-08 23:36] kristovatlas commented on #27
1) Attacker can associate different addresses with each other by observing source IP address for first relay of tx
2) Attacker can associate different addresses with each other based on the composition of balance lookup requests

[2015-06-08 23:39] justusranvier commented on #26
attack: A blockchain observer can derive the type of wallet used to create a transaction by observing idiosyncrasies in the manner in which the transaction was composed

[2015-06-08 23:40] justusranvier commented on #26
attack: A network observer can derive the type of wallet used to create a transaction by observing idiosyncrasies in the interactive behaviour of the wallet

[2015-06-08 23:45] justusranvier commented on #26
attack: A protocol peer can derive the type of wallet used to create a transaction by actively probing the wallet to discover  idiosyncrasies in the interactive behaviour of the wallet

[2015-06-09 00:05] kristovatlas commented on #24
This is redundant with blockchain observation -- knowing a single point of info as a former tx participant doesn't give you any extra abilities to analyze subsequent tx's in the chain

[2015-06-09 00:05] #24 closed, assigned to justusranvier

[2015-06-09 00:06] justusranvier commented on #21
Related: #13

[2015-06-09 00:07] justusranvier commented on #26
Replaces #3

[2015-06-09 00:07] #3 closed, assigned to nobody

[2015-06-09 00:08] justusranvier commented on #27
Replaces #1

[2015-06-09 00:08] #1 closed, assigned to kristovatlas

[2015-06-09 00:14] justusranvier commented on #21
Attack: The wallet can not be used without supplying personally identifying information

[2015-06-09 00:16] justusranvier commented on #19
Related to #26

[2015-06-09 00:27] kristovatlas commented on #20
UTXO selection policy might leak metadata such as order in which an address is generated.

[2015-06-09 00:42] justusranvier commented on #6
This attack is covered by the "One or more change outputs are created which are close to the value of the desired spend?" criteria.

If wallets do this, then it won't be possible to use exchange rate comparisons to distinguish between the spend output and the change output.

[2015-06-09 00:42] #6 closed, assigned to nobody

[2015-06-09 00:45] justusranvier commented on #21
Attack: The wallet may transmit usage and/or debug data back to the provider which can be used to correlate transactions to a particular user.

[2015-06-09 20:08] kristovatlas commented on #26
another example of a distinctive blockchain fingerprint https://www.evernote.com/shard/s50/sh/b809834d-60b4-40bf-88b0-bdb64c7edee1/0a3f71864c6fed47/deep/0/

[2015-06-15 20:09] kristovatlas opened #28 "countermeasure: transmit signed transaction to receiver directly via anoymizing network such as tor or subspace"

[2015-06-15 23:20] kristovatlas commented on #13
Add 2 countermeasures:
-open source
-reproducible build such that user can build the binary and end up with identical binary

[2015-06-15 23:26] cpacia opened #29 "add attack: malicious update pushed to automatic updating wallet"
Wallets which allow automatic updating should at minimum ask the user for permission before updating.

[2015-06-15 23:37] kristovatlas commented on #19
Clarification needed: Are deterministic signatures a countermeasure to an attack based on low-S sigd? @petertodd

[2015-06-15 23:37] justusranvier commented on #19
Countermeasures:
- If any output in the transaction is not P2PKH, then the change output must not be P2PKH
- Recipients should always used compressed keys

[2015-06-15 23:48] justusranvier commented on #21
Countermeasures:
- Don't collect PII
- Only send debug information if users opt-in and are allowed to review the information before being sent
- Allow debug/usage information to be sent over Tor

[2015-06-15 23:56] justusranvier commented on #22
Attack: Link addresses belonging to a single user by observing information leaked by the wallet in the process of obtaining its balance information from the network

Countermeasures:
- Obtain balance information without making queries to other network participants
- Only query one address at a time from a specific connection context
- Query multiple addresses at once using a technique that include

[2015-06-16 00:05] kristovatlas commented on #25
-countermeasure: change appearance to resemble a different application GUI

[2015-06-16 00:05] kristovatlas commented on #25
-countermeasure: do not display bitcoin addresses in text or QR code form, do not display transaction hashes (unless user explicitly asks for these to be displayed)

[2015-06-16 00:07] kristovatlas commented on #25
-countermeasure: forgot wallet/self destruct functionality
-countermeasure: easily erase app from device
-countermeasure: application is not detectable unless user performs a series of actions unlikely to be duplicated by an unauthorized user

[2015-06-16 00:09] kristovatlas commented on #25
-countermeasure: encrypt public keys
-countermeasure: encrypt all wallet metadata

[2015-06-16 00:14] kristovatlas commented on #25
-countermeasure: persistent wallet data stored is not identifiable as belonging to a bitcoin wallet (e.g. steg'd)

[2015-06-16 00:17] kristovatlas commented on #25
-countermeasure: if user loses physical control over the device, the wallet can be deleted via remote command

[2015-06-16 00:24] kristovatlas commented on #26
Network attacker: Can use user agent. See:
https://en.bitcoin.it/wiki/Protocol_documentation
https://github.com/bitcoin/bips/blob/master/bip-0014.mediawiki

[2015-06-16 00:35] justusranvier commented on #26
countermeasure:
- use a standardized ordering of inputs and outputs
- avoid routinely creating outputs that are identifiable by their size or script
- avoid using one distinctive user agent when connecting to the Bitcoin network
- avoid using a non-Bitcoin network protocol that leaks information about the type of client in use.

[2015-06-16 00:41] justusranvier commented on #27
If a wallet uses reveals xpubs for any reason, then transactions participants can learn about a user's addresses.

[2015-06-16 01:08] kristovatlas commented on #28
possibly an alternative to filters? cover for fall 2015

[2015-06-17 14:05] kristovatlas opened #30 "attack/countermeasure: Enjoy Sochi attack"
Small utxos can be added to addresses to tempt wallet clients with poor utxo selection and/or lack of coin control to merge inputs.

http://www.reddit.com/r/Bitcoin/comments/3a1hte/psa_dust_being_sent_to_your_addresses_might_help/

Countermeasure: Always spend all inputs that exist at the address you've selected to use as an input.

[2015-06-17 14:06] kristovatlas commented on #30
This could also be used to fingerprint clients by outing their utxo selection strategy.

[2015-06-21 10:51] petertodd commented on #19
@kristovatlas No - low-S works with or without deterministic sigs.

[2015-06-21 15:46] kristovatlas commented on #19
@petertodd thanks

Relevant reading, left here for myself: https://github.com/bitcoin/bips/blob/master/bip-0062.mediawiki#Low_S_values_in_signatures

[2015-06-22 23:57] kristovatlas commented on #13
Criteria: Non-obfuscated source code is available for immediate inspection.
Criteria: Simple instructions for building the source code are provided.
Criteria: Clear instructions are provided for the user to produce a compiled version that exactly matches the binary distributed by the wallet provider.

[2015-06-22 23:59] kristovatlas commented on #19
Criteria: Is the wallet fully compliant with BIP 62?

[2015-06-23 00:02] kristovatlas commented on #19
Missing countermeasure: If any output in the transaction is not P2PKH, then the change output must not be P2PKH

[2015-06-23 00:04] kristovatlas opened #31 "create software that accepts tx ids and tests ratings criteria such as BIP 62 compliance"

[2015-06-23 00:06] kristovatlas commented on #19
Exception: If you wrap a P2SH in a P2PKH, this is revealed when spent.

[2015-06-23 00:14] kristovatlas opened #32 "spending from 1 of multiple output P2SH addresses can reveal disparate script type"
e.g. multisig p2sh sends change to new multisig p2sh and spend is to some other kind of p2sh. This is revealed when spend and change are spent.

[2015-06-23 00:15] kristovatlas commented on #32
possible countermeasure: change is a random non-standard script selected from a library of all possible scripts used in the bitcoin ecosystem ???

[2015-06-23 00:15] kristovatlas commented on #19
Latest commit shows updated version of the missing countermeasure

[2015-06-23 00:20] justusranvier commented on #22
Need an rating method that's the inverse of the "number of clicks" formula

[2015-06-23 00:21] justusranvier commented on #22
Full node: maintains a complete copy of the blockchain such that queries to external sources are not needed to obtain balance information

[2015-06-23 00:23] kristovatlas commented on #22
Client does not lookup more than one address balance query per connection context.

[2015-06-23 00:30] kristovatlas commented on #26
Criteria: Does the tx send a donation with a known output size or known address?

[2015-06-23 00:32] kristovatlas commented on #26
Criteria: Is the donation feature automatic (Multibit) or manual?

[2015-06-23 00:33] kristovatlas commented on #26
Criteria: Do you use a common UA (e.g. Bitcoin Core)
OR
Do you use a random UA from a list of possible UAs?

[2015-06-23 00:34] kristovatlas commented on #26
Criteria: Do you make an HTTP connection to a known wallet provider's domain?

[2015-06-23 00:34] kristovatlas commented on #26
Criteria: BIP 69 compliant?

[2015-06-23 00:38] kristovatlas commented on #25
criteria: (usability) # clicks to delete
criteria: (quality) effectiveness of deletion

[2015-06-23 00:46] kristovatlas opened #33 "For criteria that look at whether data at rest is encrypted, measure standardized time to crack decryption"
e.g. how long to break a Scrypt encryption w/ a 4-digit PIN vs. AES w/ a complex password

[2015-06-25 15:43] jtibble opened #34 "Proposal: Build interactive web-application with latest privacy scan results"
As a web developer, one of the sites that I frequent is http://caniuse.com, which shows various web-components/APIs and what browsers support these features, backed by a Github repository of mappings and ratings.

I believe the breakdown is similar to this OBPP project, where the OBPP team is putting together lists of privacy concerns and then rating various wallets according to their compliance.

[2015-06-25 20:13] jtibble opened #35 "Incorrect sub-score summation"
Hi everyone,

In looking at the Spring 2015 PDF and working on prototyping #34 , I just realized that some of the scores do not add up! Look here at the published scores for Armory:

![image](https://cloud.githubusercontent.com/assets/2126464/8364454/7ecc70c0-1b54-11e5-828c-06c0f8b7c736.png)

In the "Receiving Address Generation & Backup", the "Category Score" says 13/21, but the component sub-sco

[2015-06-25 20:55] kristovatlas commented on #35
Thanks for bringing this up. They actually are not errors in the final score calculations, but the result of rounding of the source data we have in a Google Drive spreadsheet. I think @justusranvier intends to address this for the Summer 2015 report.

[2015-06-25 21:06] jtibble commented on #35
Okay, thanks for letting me know! :smile: Is there a particular reason that the categories and component-scores are not just represented as integers, with a final percent-score? If the subtotals summed up to something like 67/207, and a big "32.4%" was given in-summary, it would accomplish the same goal without worrying about rounding errors throughout.

[2015-06-30 11:24] LaurentMT opened #36 "Replace-By-Fee: Consequences on privacy and possible mitigations"
I would like to open a discussion about the consequences of Replace-By-Fee on privacy.

One of the main use cases envisioned for RBF is fee bumping which has obvious benefits in case of network congestion.

It's still early to say how wallets will implement this new feature but it's not  unlikely that many developers may chose the easiest and cheapest solution: a straightforward decrease of the ch

[2015-06-30 12:19] petertodd commented on #36
100% agree it's a privacy leak, but at least with full-RBF it's only a leak of what the change address is; with fss-RBF not only is it more expensive, but you're forced to add an additional input, further linking your coins together. In any case, I expect fee-bumping to be done somewhat infrequently, with fee estimation working most of the time.

RBF can also be used to pay multiple recipients in

[2015-06-30 21:23] justusranvier commented on #36
This is another area where CPFP is safer than RBF.

[2015-07-01 03:27] kristovatlas commented on #36
I'm not aware of any wallets currently looking to implement RBF, but this is definitely an important thing to keep track of. So far, it is one of the clearest examples I've seen of how passive blockchain observation can be strongly amplified by transaction broadcast network monitoring. We can be sure that many coin analytic agencies would increase their network monitoring if this were to be popula

[2015-07-01 14:07] LaurentMT commented on #36
I fully agree with these comments. In the case of fee bumping, I also expect that RBF will be used as a second chance solution (the first one being fees estimation) and it's very early to estimate the potential impact.

But beyond this very specific case, I wonder if it makes sense for OBPP to extend its activity with a "proactive" approach: analysis of risks associated to proposals made by devs,

[2015-07-01 20:48] petertodd commented on #36
@kristovatlas NikiWallet's maintainer is working on RBF-using features, as is GreenAddress.

@LaurentMT If the man power exists to do it, I'd certainly support OBPP looking at risks proactively, though I'd point out that this is something most of the Bitcoin Core developers are thinking about already. (e.g. one of the many objections raised to Hearn's GETUTXO's pull-req was the total lack of priva

[2015-07-06 23:27] justusranvier opened #37 "Clarify method for detecting bad join transactions"

[2015-07-06 23:57] LaurentMT commented on #37
If this issue is related to coinjoin transactions, a good start may be to define the goal of a coinjoin:
- obfuscation of the links between inputs & ouputs ?
- defense against the merged input heuristic ?
- both of them ?
- ...

If there's a typo in the title and if the question is related to the debatable quality of products from the darkmarket... well... I think the answer is "wrong window" ;-)

[2015-07-07 00:02] justusranvier commented on #37
This issue relates to all of those things.

It's something we don't have time to define for this cycle, so this issue is to remind us to fix if for the next cycle.

[2015-07-07 00:46] LaurentMT commented on #37
Ok !  I'll try to post some elements gathered from the blockchain.

[2015-07-07 01:25] kristovatlas commented on #37
Excellent, thanks @LaurentMT

[2015-07-08 14:28] kristovatlas opened #38 "Attack & countermeasure: characteristic mining fee amounts to fingerprint wallet clients"
Attack: observe the characteristic amount to fingerprint
Countermeasure: Use a fee common to many current (at the time of transaction) wallet clients that have otherwise similar-looking transactions.

[2015-07-15 21:19] kristovatlas opened #39 "attack/countermeasure: email when payment received"
attack: wallet provider sends an email to user when payment received/sent

countermeasures: keep emails vague, encrypt email e.g. with pgp

[2015-07-27 16:11] kristovatlas opened #40 "Break "Number of clicks required by user to to obtain balance information without leaking their machine identity over the network" into multiple countermeasures"
break this into different countermeasures for kinds of identity: ip address, ipv6, mac address, cookie,etc.

[2015-07-27 23:13] kristovatlas opened #41 "PII criteria perhaps should be # of clicks deviating from normal acct creation workflow to create without supplying PII"

[2015-08-04 23:50] kristovatlas opened #42 "When receiving funds, does wallet send automatic email to let the user know?"
Email may contain specific info. A general email may reveal what block the tx was first confirmed within.

[2015-08-04 23:51] kristovatlas commented on #42
The contents of the email could be PGP encrypted. The subject could be generic and replicate the subject of other emails received from the wallet provider.

[2015-08-19 03:45] kristovatlas opened #43 "Review for attacks: An Analysis of Anonymity in Bitcoin Using P2P Network Traffic"
http://ifca.ai/fc14/papers/fc14_submission_71.pdf

[2015-08-23 19:05] kristovatlas opened #44 "Change to rating wallet clients without multi account support"
If users cannot create an account within the wallet client, they will usually not bother. On this basis, it doesn't make much sense to give wallets credit for avoiding merging inputs between accounts, perhaps unless the wallet also warns about merging inputs in general.

[2015-08-30 23:36] kristovatlas opened #45 "Attack/Countermeasures: Onion server"
Attack: (need to clarify) attacker performs one of various privacy attacks on users who use exit nodes, or security-compromising mitm attacks on users connecting via Exit nodes.

Countermeasure: If the client must connect to a server, the wallet provider provides an onion server to connect to.

Criteria: Count number of clicks to connect to onion server. If no server needed, gets full credit.

[2015-08-30 23:37] kristovatlas commented on #45
A few sites that provide .onion servers: Blockchain.info, coinkite.

We could also factor % uptime into the score.

[2015-08-31 00:50] kristovatlas opened #46 "Transaction details => API lookup"
Most wallets use a web API to lookup transaction details, or simply provide a hyperlink to a block explorer to the user. What privacy protections are appropriate here?

[2015-09-05 19:36] kristovatlas opened #47 "Attack & Countermeasure: Malicious modification of binary during build process"
The attacker can target either the wallet provider or a user building the binary to include malicious logic. Unless the build process is deterministic, the user will be unable to produce a binary that is identical to the wallet provider's supplied binary.

Countermeasure: Utilize and publish instructions for using a deterministic build process, such as Gitian.

Wallets that currently include this:

[2015-09-05 20:33] JeremyRand commented on #47
Armory is working on reproducible builds, and they're pretty close to having it working for the Linux releases, I think.  @josephbisch is handling that effort for Armory.  I'm unaware of any other wallets that are spending effort on this at the moment.

[2015-09-07 12:23] JeremyRand opened #48 "Wallet should not generate network traffic before asking the user for proxy settings"
It's generally considered good practice in software that might want to use Tor, to prompt the user for proxy settings on the first run, before generating any network traffic. That way, the user doesn't accidentally connect over clearnet.  Giving visual feedback once clearnet traffic has begun isn't necessarily sufficient; the user should be given a choice of proxy settings (on first run) before th

[2015-09-07 17:33] kristovatlas commented on #48
Agreed. The way that we currently include this in the ratings is by counting the number of clicks to perform various operations that protect network-level privacy. The ideal wallet has this turned on by default with no configuration required by the user, and would prompt the user during setup whether they want to _disable_ these protections. They might also allow the user to disable these protecti

[2015-09-07 17:33] kristovatlas commented on #48
Let me know what you think of this approach so I can decide whether this issue needs to stay open or can be closed.

[2015-09-07 17:42] JeremyRand commented on #48
My opinion is that the number of clicks doesn't really capture the real metric, which is how likely the user is to accidentally connect over clearnet.  If it takes a lot of clicks, but the user is always safe, I think that's preferable over taking only one click but the user might get deanonymized.  There is some correlation between clicks and likelihood of network leaks, but I don't think they're

[2015-09-07 18:54] kristovatlas commented on #48
Both hypothetical wallets A and B are not going to get very many users connecting through Tor.

Most users are going to be baffled by a prompt for proxy information, and will go with the path of least resistance.

The proper design IMHO is to connect through Tor by default without asking the user, and prompt the user to disable this feature if they wish.

I agree that wallet B is marginally better

[2015-09-07 21:37] JeremyRand commented on #48
I suppose you're correct that the distinction is theoretical at best.  Feel free to close this issue if you think making changes to the criteria isn't a significant benefit in this case.

[2015-09-07 23:41] justusranvier commented on #48
The way our criteria are currently written, the only way for a wallet to get a score of 100 would be if it never sends traffic over the clear net unless explicitly told to by the user (zero clicks needed to enable Tor support), so I think the criteria as written already achieve the intent of this issue.

[2015-09-10 16:31] JeremyRand commented on #45
In the specific attack case of a MITM attack, TLS with a pinned key is just as good as, if not better than, a .onion domain.  (Tor hidden services currently use significantly weaker crypto than most current TLS implementations.)  Of course, TLS doesn't provide anonymity (by itself), but you can connect to servers that use TLS via Tor exits, which provides roughly the same anonymity to the client.

[2015-09-10 21:02] kristovatlas commented on #45
pinned certificate is pretty good, though you will need to pin the certificate to a variety of browsers which is practically difficult.

[2015-09-10 21:06] JeremyRand commented on #45
For a browser-based client, then yes, there would be a difficulty in getting most browsers to use the pin.  However, if it's a non-browser client that connects to an API server (e.g. something like Electrum), then it's easy to pin a TLS pubkey in that client.

[2015-09-10 21:16] kristovatlas opened #49 "possible countermeasure: allow user to connect to their own full node during wallet setup"

[2015-09-11 01:19] kristovatlas commented on #45
True fact.

[2015-09-15 23:55] kristovatlas opened #50 "distinguish criteria relating to legacy addresses vs ECDH addresses"
Current criteria related to address reuse should be modified to specify that they pertain to receive workflow using legacy addresses.

We will add another criterion about whether the default type of receive address is ECDH (better) or legacy address (worse). This will be a TRUE/FALSE criterion.

Over time, as ECDH addresses become more commonly used, the weights related to legacy address reuse wil

[2015-09-16 20:20] kristovatlas opened #51 "go thru this P-Todd writeup for possible attacks/countermeasures"
https://wiki.unsystem.net/en/index.php/DarkWallet/Best_practices

[2015-09-16 20:44] justusranvier commented on #45
There are more than one attacker and more than one attacker to consider:
- The wallet provider should learn as little as possible about their users
- The users' ISPs should learn as little as possible about the users. This includes, not just information that should be encrypted like a particular user's balance, but also the fact that they are using a certain wallet provider at all.

Pinned TLS cer

[2015-09-16 20:51] JeremyRand commented on #45
@justusranvier Would you consider pinned TLS certs combined with using Tor exit relays, to be not as good as a .onion domain?  If so, can you elaborate on that?  Seems to me that if anything, Tor exits give you anonymity that's just as good as .onion, and pinned TLS actually is stronger crypto than .onion.  Am I missing something in the threat model here?

[2015-09-16 22:15] justusranvier commented on #45
In terms of privacy, they are probably both equivalent.

In some cases there might be usability and reliability advantages of hidden services.

[2015-09-17 00:31] kristovatlas commented on #45
There are actually some differences in privacy due to the way that HSDirs work in Tor, but it's a bit nuanced.

[2015-09-17 00:32] kristovatlas commented on #45
If she's available, @isislovecruft would probably be able to explain the privacy differences between an HS and a clearnet server with client-pinned SSL certs.

[2015-09-21 02:36] kristovatlas opened #52 "Attack: Wallet Provider can correlate multiple accounts with cookies or other browser fingerprint"
Privacy with respect to the segregation of multiple accounts may be harmed for wallets that use web-based lookups by setting a cookie value that remains constant between balance lookups / tx broadcasts, or which remains constant/linkable between logins.

[2015-09-21 02:45] kristovatlas opened #53 "May need criteria for multisig wallets that hold 1or more private keys"
eg GreenAddress

[2015-09-21 02:51] kristovatlas opened #54 "Better define criteria for open source code -- what if server end of client/server model is closed?"
It is more difficult if not impossible for a user to verify that wallet providers are applying the privacy countermeasures they claim to if the server code is closed source.

[2015-09-21 03:05] JeremyRand commented on #54
Even if the server operator releases source code, it's probably impossible to verify that the source code on their server is the same as the source code that they released.  If the client side code isn't ensuring privacy against a malicious server, then the user has to trust that the server isn't malicious.

This topic is still relevant though, in the sense that a non-malicious server operator may

[2015-09-21 03:19] kristovatlas opened #55 "May need more criteria related to querying the utxo set when spending"

[2015-09-21 03:26] kristovatlas commented on #54
Yes, good points.

[2015-09-21 03:28] kristovatlas commented on #54
There may be some way for a server to prove good behavior through advanced cryptography (pre-commits? running encrypted code that client provides?) but this isn't worth thinking about too much at present.

[2015-09-21 13:29] josephbisch commented on #47
I have a question to ask on my own behalf.

How will the degree to which a particular Bitcoin wallet builds from source be measured? What happens if one wallet provider decides to build reproducibly using the Python binary downloaded from python.org and another wallet provider decides to build Python from source? While there are certain pieces of software that are not themselves reproducible at th

[2015-09-21 15:00] kristovatlas opened #56 "Feedback countermeasure: Warn user when viewing address seeds"
If the wallet gives a user the option to view or export seed that public/private keys/addresses are derived from, warn the user of the privacy consequences of sharing this information while or before allowing this display/export.

This might fall in the meta category -- average users don't know how to properly handle this information, and should be instructed accordingly.

Separate criteria: In th

[2015-09-22 15:48] justusranvier commented on #54
In general, I think the best approach is to assume that which can't be verified is potentially malicious.

Absent future alien technology that lets clients know what exactly is running on the server, the model should consider that everything not under the control of the user is a potential attacker.

[2015-09-22 19:17] kristovatlas opened #57 "Criteria refinement: Clearly define standards for telemetry based on what attacks it can aid"

[2015-11-07 20:03] #22 closed, assigned to justusranvier

[2016-01-12 01:21] oxt-btc commented on #37
Hi there,

Here are 3 gist on the subject
- Part1: definition of a first metric: the entropy of a transaction (https://gist.github.com/oxt-btc/8ba2db54be430d5c377c)
- Part2: Definition of 2 complementary tools/metrics: the Link Probability of 2 utxo and the Link Probability Matrix of a transaction (https://gist.github.com/oxt-btc/3bc7606fe3490994c6c8)
- Part3: A summary of well-known attacks (http

[2016-01-12 03:16] kristovatlas commented on #37
I think the entropy score is quite helpful. I can see us using this as a test metric for those few wallets that support coinjoin -- do 10 transactions and calculate the mean entropy score, for example.

[2016-01-24 08:50] JeremyRand commented on #48
Rethinking this, I think that this is an issue of feedback rather than (or perhaps in addition to) number of clicks.  However, it's hard for me to be certain, because I don't see the three categories of criteria explicitly defined somewhere.  Are they defined somewhere that I missed?

[2016-01-27 22:52] kristovatlas opened #58 "Include temporal analysis attacks and countermeasures"
see e.g. https://www.reddit.com/r/Bitcoin/comments/42xcyp/privacy_do_bitcoiners_dream_of_electronic/ by @laurentmt

[2016-01-30 19:43] kristovatlas opened #59 "Number of transaction signers is leaked to blockchain in redeem script (e.g. traditional P2SH multisig)"
Countermeasure: Use P2PKH address, single signer or threshold signature.

[2016-02-23 04:31] kristovatlas opened #60 "Attack: Attacker modifies code that is pushed to client before user can review"
Attack: Attacker modifies source code of client, and update is pushed to the client:

Countermeasure: Client is notified before a software update takes place, and has opportunity to intervene before wallet private keys or meta data are decrypted.

Countermeasure: Application binaries (or source code for interpreted languages) are cryptographically signed by the wallet provider, and the user has th

[2016-02-23 14:13] jim618 commented on #60
An example of this IRL is the update process for MultiBit HD.
This takes the following steps:
1) User is told at startup that there is a new version and given the opportunity to download the installer or not.
2) If user chooses to download installer the Installer downloads.
3) User is asked if they want to run it now, or not.
4) If user does not run immediately, they can check the SHA256 hash of t

[2016-02-24 17:43] kristovatlas commented on #60
Countermeasure: Client is self-updating, but verifies the update has been cryptographically signed by a trusted key before installing.

[2016-02-24 17:45] kristovatlas opened #61 "TODO: Review open issues for 1st edition and 2nd edition milestones"

[2016-03-01 02:01] kristovatlas opened #62 "Create and publish cryptographic checksum of weights before starting review of wallets"
proposed by @petertodd

[2016-03-01 02:51] justusranvier commented on #62
Great idea

[2016-03-01 04:53] kristovatlas opened #63 "Disclosure of risks to users"
@wtogami suggested that we consider the degree to which wallet providers disclose risks to users transparently. For example, it might be helpful to let users know what party service is used for lookup queries, if one is used.

A sample "attack" might be something like: "The wallet provider misleads users about or neglects to inform users about risk X" with the "countermeasure" being informing user

[2016-03-01 05:45] JeremyRand commented on #63
I've seen more than one wallet vendor (I won't name names since it's not relevant here) make claims similar to "Your transactions are anonymous." without any qualifiers.  I'm not 100% sure of how to precisely quantify this as a criterion, but I think it's reasonably accurate to say that there aren't any blockchain systems that are definitely anonymous with no qualifiers, and that any wallet provid

[2016-03-06 05:56] kristovatlas opened #65 "Backups and address reuse"
Some of our criteria penalize wallets that do not use eternal backups, as this may encourage address reuse.

@gmaxwell has pointed out that Bitcoin-Qt does not use eternal backups, but as change addresses are usually new addresses, the user doesn't get to keep his backup fresh by simply reusing change addresses if he is also sometimes sending funds. (N.B. I haven't tested yet what happens with cha

[2016-03-06 06:04] kristovatlas opened #66 "Attack/Countermeasure: Network observer or wallet provider monitors outgoing transactions"
Suppose there is a network or wallet provider attacker monitoring which transactions are being broadcast by a specific client. The attacker can correlate addresses involved with the broadcasted transactions to that IP address and to any other information the attacker knows about that client.

Countermeasure: Client sometimes broadcasts transactions that come from other participants in the network.

[2016-03-09 00:27] kristovatlas commented on #66
This is a new countermeasure for this attack:

"Link addresses belonging to a single user by observing source IP address for first relay of transactions"

[2016-03-09 00:39] kristovatlas commented on #63
attack - mislead users about privacy properties

[2016-03-09 00:41] kristovatlas commented on #60
This attack is a duplicate of: "Hide adverse privacy behavior from users by distributing binary versions of the wallet whose behavior differs from versions compiled from the public source code"

[2016-03-09 00:42] kristovatlas commented on #59
attacker: blockchain observer

[2016-03-09 00:43] kristovatlas commented on #59
Attack: ~ Observer number of signers based on redeem script.

[2016-03-09 00:49] kristovatlas opened #68 "consider renaming physical adversary"
suggestions:

out-of-band adversary
offline adversary

considers eg attacker who users leaks xpub to

[2016-03-09 00:50] kristovatlas commented on #56
new countermeasure here under the existing attack: "Conduct physical surveillance, especially against mobile users, to get sensitive information from screen or contextually tie blockchain activity to visual activity"

[2016-03-09 00:52] kristovatlas commented on #55
probably a subset of balance lookup

[2016-03-09 00:57] kristovatlas commented on #53
new attack (Tx participant): ~ require victim to submit transactions to the attacker for signing

[2016-03-09 01:02] kristovatlas commented on #52
new attack (network attacker): ~client fingerprint correlates different network connections to link addresses from different accounts.

[2016-03-09 01:06] kristovatlas commented on #47
duplicate of #63 and existing countermeasures for reproducible builds

[2016-03-09 01:08] kristovatlas commented on #46
scenario: operator of a block explorer waits for new txs, notes which IP address does a lookup on the tx first. likely to be either sender or receiver.

[2016-03-09 01:09] kristovatlas commented on #46
new attack: ~ correlate IP address to likely tx participant by observing block explorer monitoring requests for details about a specific, recent tx

[2016-03-09 01:21] kristovatlas commented on #45
new attack (network observer): ~ perform transport-layer attack on connection between client and server/peer and modify traffic.

countermeasure: pin the expected server certificate in the client -- some form of SSL cert may work here as well

[2016-03-09 01:26] kristovatlas commented on #42
new attack (network attacker): obtain information about a specific individual's transaction based on out-of-band notifications subsequent to a transaction (e.g. email you've got bitcoin!). Could be timing related or not, depending on the contents of the notification. Could be about sending or receiving funds.

[2016-03-09 01:27] kristovatlas commented on #39
duplicate of #42

[2016-03-09 01:27] #39 closed, assigned to nobody

[2016-03-09 01:30] kristovatlas commented on #38
existing attack: "A blockchain observer can derive the type of wallet used to create a transaction by observing idiosyncrasies in the manner in which the transaction was composed  "

clarify this countermeasure: "Avoid routinely creating outputs that are identifiable by their size or script"

should also consider fees. will need to add additional criteria.

[2016-03-09 01:32] kristovatlas commented on #36
new attack (network observer): identify the change output in a transactions by observing multiple versions of the same transaction adjusted via some RBF method.

[2016-03-09 01:35] kristovatlas commented on #32
existing attack: "Link outputs in a transaction to a single entity by detecting which output is a change output"

[2016-03-09 01:35] kristovatlas commented on #32
TODO: consider possible countermeasures specific to P2SH

[2016-03-09 01:36] kristovatlas commented on #32
clarify attack: identify change based on position, size, or script type.

[2016-03-09 01:40] kristovatlas opened #69 "criteria: time for mixing"
consider the new criteria proposed in https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/pull/4/files

[2016-03-15 03:29] kristovatlas opened #72 "Network attack: Associate IP address with Bitcoin address during balance lookup by decrypting traffic in transit"
Attack: Associate IP address with Bitcoin address when client performs balance lookup for that address by decrypting (or observing plaintext) traffic as MITM attacker.

Countermeasure: (strongest) Use full node -- no balance lookups
Countermeasure: (strong) Use authenticated, end-to-end encryption with no opportunity to decrypt in transit.
Countermeasure: (moderate/strong) Use certificate pinning

[2016-03-15 03:41] kristovatlas commented on #72
This attack might be a duplicate of this: "Link addresses belonging to a single user by observing information leaked by the wallet in the process of obtaining its balance information from the network "

These could be new countermeasures that would fall under that attack.

[2016-03-15 03:47] kristovatlas opened #73 "Attack: Develop fingerprint of human user based on transaction characteristics"
Attacker: Blockchain observer

e.g. deduce what timezone the user belongs to by determining that subset of the user's transactions belong to a particular user, and then find the most common periods of inactivity in 24-hour period.

countermeasure: wallet introduces random delays for some transactions degrade time correlation beyond some point.

criteria: wallet introduces random delays for some tr

[2016-03-15 04:24] kristovatlas commented on #58
may be subsumed by #58 -- waiting to get feedback from @laurentmt

[2016-03-15 04:33] kristovatlas commented on #55
In the models I am familiar with, I think they are essentially the same in this context.

For example, blockchain.info has [two endpoints](https://blockchain.info/api/blockchain_api):
- `/multiaddr` is used to lookup the balance of an address or xpub (inside lookahead window), and is called when the wallet needs to display the wallet/account balances
- `/unspent` is used to get a list of unspent o

[2016-03-15 04:40] kristovatlas opened #74 "countermeasure: cut-through payments"
From: https://wiki.unsystem.net/en/index.php/DarkWallet/Best_practices

I'm not yet certain on what this is a countermeasure for.

[2016-03-15 04:44] kristovatlas opened #75 "countermeasure: slightly random mining fee"
As a countermeasure to this new attack: "A blockchain observer can derive the type of wallet used to create a transaction by observing idiosyncrasies in the manner in which the transaction was composed, such as inputs/output ordering, output or fee size, or script composition." https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/pull/70/

[2016-03-15 04:50] kristovatlas opened #76 "countermeasure: sender provides txout proofs to alleviate some need for network query"
From: https://wiki.unsystem.net/en/index.php/DarkWallet/Best_practices

I'm not familiar yet with how the txout proofs work -- maybe @petertodd or someone else can clarify here.

[2016-03-15 04:52] kristovatlas opened #77 "criteria: prefix filter score function"
From: https://wiki.unsystem.net/en/index.php/DarkWallet/Best_practices

This is probably a moot point since I don't know of any wallets that use prefix filters.

[2016-03-15 04:55] kristovatlas opened #78 "countermeasure: use code source control with cryptographic integrity"
countermeasure to attack: "Hide adverse privacy behavior from users by not releasing the source code to the wallet client"

From: https://wiki.unsystem.net/en/index.php/DarkWallet/Best_practices

Also worth considering:

[2016-03-15 04:57] kristovatlas commented on #51
I've completed going through this link and created a few issues for consideration.

[2016-03-15 04:57] #51 closed, assigned to kristovatlas

[2016-03-15 04:59] kristovatlas commented on #30
This was completed by https://github.com/justusranvier/wallet-ratings/commit/9eb5d6927653fbe1b06b957a0367bef99660db75

[2016-03-15 04:59] #30 closed, assigned to nobody

[2016-03-15 21:56] LaurentMT commented on #58
A remark related to the attack described in the reddit discussion.

It can be performed at 2 different levels:

1/ By a blockchain observer using the timestamp of the block embedding the transaction.
Block timestamps are very low resolution data (several hours according to the protocol and may be even worse during periods of high activity with large mempools). The negative effects of low resolutio

[2016-03-15 22:01] kristovatlas opened #79 "countermeasure: coinjoins can confound network analysis"
Existing attack: "Link addresses belonging to a single user by observing source IP address for first relay of transactions"

By using CoinJoin or creating a transaction indistinguishable from a CoinJoin, a network attacker who is not a transaction participant has weakened certainty that an address in the inputs belongs to IP address observed as a first hop. From [An Analysis of Anonymity in Bitcoi

[2016-03-15 22:23] kristovatlas opened #80 "Attack: Fingerprint client by observing first hop IP address"
Some client-server wallet providers will aggregate user's outgoing transactions at one or a few easily-identified bitcoin nodes through a push-transaction API, and then broadcast the transactions to the network from that node(s).

A protocol peer attacker can look at the first hop of a transaction's broadcast in the P2P network and use the source IP address not to indicate the owner of the address

[2016-03-15 22:37] kristovatlas commented on #43
done with reviewing; added some issues

[2016-03-15 22:37] #43 closed, assigned to kristovatlas

[2016-03-15 23:06] kristovatlas commented on #80
This should go on a new attack under protocol peer -- derive client based on first hop IP address

[2016-03-15 23:06] kristovatlas commented on #80
additionally we need to reword this attack: "Link addresses belonging to a single user by observing source IP address for first relay of transactions"

and evaluate whether some of these countermeasures should apply to that as well.

distinction is between network attacker and protocol peer

[2016-03-15 23:13] kristovatlas commented on #72
duplicate attack of: ""Link addresses belonging to a single user by observing information leaked by the wallet in the process of obtaining its balance information from the network "

new countermeasures/criteria

[2016-03-15 23:16] kristovatlas commented on #58
network attack: Develop fingerprint of human user based on transaction characteristics by looking at broadcasted transactions. (similar to #73 but for network attacker)

[2016-03-15 23:21] kristovatlas opened #81 "attacks and countermeasures: generalize queries for balance info to relevant blockchain data"
includes uxto set queries, etc.

[2016-03-15 23:21] kristovatlas commented on #55
clarified by #81

[2016-03-15 23:21] #55 closed, assigned to nobody

[2016-03-22 04:03] kristovatlas opened #82 "blockchain attack: shadow change heuristic"
A blockchain observer can perform cluster analysis to determine that the sender for a given transaction is using an HD wallet. Inspecting the outputs, he observes that one goes to an address with a prior transaction history, and one does not. Since HD wallets are very likely to create a new change address for each send, he can distinguish the change address with a high probability based on the com

[2016-03-22 04:05] kristovatlas commented on #82
This idea was new to me via these slides: http://jonasnick.github.io/slides/2016-zurich-meetup.pdf

Hat tip to @jonasnick.

[2016-03-22 04:11] kristovatlas opened #83 "blockchain attack: optimal change heuristic"
A passive blockchain observer can client fingerprint a transaction to a client that does not add unnecessary inputs to a transaction. Based on this, she may be able to determine which output is change. For example:
In: 5 BTC, 5 BTC
Out: 6 BTC, 4 BTC

If the wallet does not add unnecessarily inputs, then the 6 BTC must be change; otherwise, a single 5 BTC input would have been sufficient to cover t

[2016-03-22 04:14] kristovatlas opened #84 "(unprocessed) homomorphically encrypted values to thwart amount-based analysis"
Something like Confidential Transactions would serve as a countermeasure for various blockchain observer attacks related to amounts.

Since this is not on the near horizon for any known wallet, this need not be considered soon.

[2016-03-22 04:21] kristovatlas commented on #83
countermeasure: multi-sender transaction such as a CoinJoin. However, the attacker may be able to combine the optimal change heuristic with sudoku analysis.

[2016-03-22 04:22] kristovatlas commented on #82
countermeasure: a multi-sender transaction such as a CoinJoin may make it more difficult to connect revealed change outputs with specific inputs addresses.

[2016-03-22 15:32] kristovatlas opened #85 "consider tor stream isolation as a countermeasure"
core 0.11.0 introduced a feature (i think disabled by default) to use a different Tor circuit for each p2p connection. investigate for attacks/countermeasures

https://bitcoin.org/en/release/v0.11.0

[2016-03-22 23:39] kristovatlas commented on #20
issue #83 is an attack that exploits common UTXO selection policy

[2016-03-23 00:01] kristovatlas commented on #46
proposed countermeasure: do not query 3rd party API for balance
proposed countermeasure: do not link to block explorer from GUI
proposed countermeasure: connect to block explorer via Tor (or equivalent) by default
proposed countermeasure: connect to block explorer via Tor (or equivalent) by default and use a new connection context for each query.

proposed criteria: score is inverse relationship t

[2016-03-23 00:07] kristovatlas commented on #42
Proposed countermeasure to above attack: Abstain from sending out-of-band notifications outside of the wallet client when user sends or receive funds.

Proposed countermeasure to above attack: Encrypt out-of-band notifications outside of the wallet client when user sends or receive funds. This is weak since the sending of a encrypted message may be time-correlated with recent transactions on the b

[2016-03-23 00:17] kristovatlas commented on #40
I think my initial thinking here was primarily to distinguish between leaking your identity via IP address vs. leaking it via a cookie.

In general the MAC address won't be available to a remote server unless they are on the same ethernet segment, which doesn't seem like a very important thing to consider.

If we don't feel like parsing this further, we can can-kick this issue to the "4th edition"

[2016-03-23 00:32] kristovatlas opened #86 "break up criteria V B 1 a (2nd edition) for PII into multiple criteria"
Since this criteria is currently weighted and there is a variety of forms of PII that can be collected, I'd suggest we might want to break this down a bit more.

Worst: Require specific and necessarily sensitive PII, such as a social security number, verified address, etc.
Best: Require no PII.

Grey areas in between: Require an email address. It's possible to generate an ephemeral email address,

[2016-03-23 00:40] kristovatlas commented on #27
existing attack already in [2nd edition threat model](https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/blob/master/report-02/threat%20model.wiki):

relevant countermeasures already in [2nd edition threat model](https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/blob/master/report-02/threat%20model.wiki):

[2016-03-23 00:43] kristovatlas commented on #27
concerning physical surveillance of a xpub in text or QR code form, this is already included in the 2nd edition model. attack:

countermeasure:

It's worse to show an XPUB than a single address, but I'm not sure the difference is so meaningful or comes up often enough in wallets to split up in the model.

[2016-03-23 00:49] kristovatlas commented on #27
this might be a new attack for the "Transaction participant" attacker:

A wallet could allow users to swap master xpubs (not an account dedicated to a single pair of peers) as a mechanism to permit payments in the future without reusing address and without exchanging additional information out of band.

This gives the transaction participant insight into other transactions for the victim user.

Pr

[2016-03-23 00:53] kristovatlas commented on #28
This is already included in the 2nd edition threat model under the following.

Existing attack:

Existing, sufficiently vaguely-worded countermeasure:

This should be a new criteria for achieving this countermeasure. To my knowledge, no wallets currently employ this.

[2016-04-12 17:00] kristovatlas opened #87 "Countermeasure: Ability for user to configure wallet client to point to their own balance lookup/broadcast server"
Trezor is now using Bitcore for a backend service, and includes the ability for users to run their own Bitcore server.

https://medium.com/@satoshilabs/mytrezor-com-abandons-proprietary-backend-in-favor-of-open-source-bitcore-8965a00a095c#.j9bspqbeq

This is something that is not enabled by default, but is useful for intermediate+ users. A comparable criteria that we use currently is compatibility

[2016-04-12 17:24] kristovatlas commented on #87
Bonus points if the user can build the server binary from source and therefore verify that the backend code operates according to the public's copy of the source code.

[2016-04-12 23:36] kristovatlas commented on #20
can kick -- would like to think about countermeasures more re: jameson's article but not now

[2016-04-12 23:51] kristovatlas commented on #32
include countermeasure: change is a random non-standard script selected from a library of all possible scripts used in the bitcoin ecosystem

criteria: TODO

[2016-04-13 00:04] kristovatlas commented on #38
no criteria in the current countermeasure apply to the fee attack, so create a new countermeasure:

approximate wording: "Avoid setting a fee that identifies the wallet client distinctively"

=> criteria: "Dither the transaction fee/kb calculation until it is no longer distinctive" (might require comparing to other popular dynamic fee calculators)

[2016-04-25 23:51] kristovatlas commented on #40
Suggestion: Reword this wallet provider attack:

"Cause the wallet to transmit usage and/or debug data back to the provider which can be used to correlate transactions to a particular user."

"Stores data in the wallet client that is transmitted to the wallet provider, which persists across multiple usage sessions, and which can be used to correlate transactions to a particular user."

countermeas

[2016-04-25 23:59] kristovatlas commented on #47
Could add another countermeasure for attack: "Hide adverse privacy behavior from users by distributing binary versions of the wallet whose behavior differes from versions compiled from the public source code"

it would be: "Publish instructions for reproducing build."

[2016-04-26 00:08] kristovatlas commented on #49
This would basically propose to change a binary criteria to a count-clicks criteria:

This would be a reasonable change but not something we need to bother with right now. Consider, for example, the number of clicks it would take to go from Trezor's company-wide Bitcore client to deploying your own Bitcore server and pointing the Trezor client at it; the number is so high that this is not worth me

[2016-04-26 00:08] kristovatlas commented on #49
I'm pushing this to 4th edition, but it likely won't come into play for years, if ever.

[2016-04-26 00:21] kristovatlas commented on #50
#92

[2016-04-26 03:34] kristovatlas commented on #50
Thinking about this some more, I think this might get away from the spirit of our criteria so far. It prescribes a particular approach rather than addressing root causes of privacy loss.

Feedback welcome.

[2016-04-26 03:39] kristovatlas commented on #40
A similar idea arose in issue #52. Proposed new attack based on the above rewording -- this would go in the same section:

"Stores data in the wallet client that is transmitted to the wallet provider which can be used to correlate multiple accounts to a single user."

...as opposed to correlating multiple addresses or transactions with a single user that may belong to a single account.

[2016-04-26 03:41] kristovatlas commented on #40
Questions that would go in the questionnaire might be:

-Do you use HTTP cookies in your wallet client? If so, would the same cookie value ever be sent to the server for requests related to different wallets/accounts/identities?

Would the same cookie value ever be sent to the server for requests related to different Bitcoin addresses, transactions, unspent outputs, etc.?

[2016-04-26 03:43] kristovatlas commented on #52
See also: #40

[2016-04-26 03:48] kristovatlas commented on #53
This is addressed with one of @justusranvier's commits with the following added attack:

The obvious countermeasure here is abstinence: "Do not require users to submit transactions or identification information to one or more other parties in order to complete the signing process."

[2016-04-26 03:51] #54 closed, assigned to nobody

[2016-04-26 03:58] kristovatlas commented on #56
Existing attack:

Current countermeasure under that attack:

Proposed wording for new countermeasure

This would include non-ECDH Bitcoin addressees and xpubs but not ECDH addresses.

[2016-04-26 04:00] kristovatlas commented on #58
The new, merged attack under Network Observer is:

Proposed countermeasure:

[2016-04-26 04:01] kristovatlas commented on #59
@justusranvier has already included a countermeasure for this in his PR:

Only a criterion remains to be added.

[2016-04-26 04:08] kristovatlas commented on #60
Aggregating the information here:

Existing attack:

Existing countermeasure:

Proposed additional countermeasures under this attack:
1. Notify the user before applying a software update to the client, and provide an opportunity to intervene before wallet private keys or meta data are decrypted.
2. Require developers to cryptographically sign all application binaries (or source code for interprete

[2016-04-26 04:14] kristovatlas commented on #63
The attack that has been added in the PR:

The obvious countermeasure is:

Proposed criteria:
1. Wallet provider provides a link to our assessment of their wallet in a past report or a comparable analysis, or includes all of our material relevant to their wallet in their public document. (100) OR
2. Wallet provider provides limited analysis of privacy risks to users. (50) OR
3. Wallet provider doe

[2016-04-26 04:17] kristovatlas commented on #66
Aggregating information.

Existing attack:

Existing countermeasure:

Proposed new countermeasure:

(The above wording would not apply to multisig wallets only by virtue of being multisig.)

The criterion score would perhaps be based on this fraction.

[2016-05-11 23:27] kristovatlas commented on #46
this relates to a different kind of attack -- grouping addresses to a single owner

[2016-05-11 23:38] justusranvier commented on #46
countermeasure: "Avoid performing queries to third party services regarding specific transactions in a manner which reveals the IP address of the user"

[2016-05-11 23:39] kristovatlas commented on #46
some criteria

[code]

[2016-05-11 23:44] kristovatlas commented on #47
No new countermeasures here, actually. Possible criteria: # clicks to get to reproducible build instructions.

[2016-05-11 23:52] justusranvier commented on #47
References to "addresses" should be changed to "scripts" or "identifiable script elements" to better account for multisig and other non P2PKH output.

[2016-05-11 23:52] justusranvier commented on #50
References to "addresses" should be changed to "scripts" or "identifiable script elements" to better account for multisig and other non P2PKH outputs.

[2016-05-11 23:53] kristovatlas commented on #50
Consider adding footnote to explain what "identifiable script elements" includes.

[2016-05-12 00:01] kristovatlas commented on #52
Justus added countermeasure.

[2016-05-12 00:02] kristovatlas commented on #40
The countermeasure that justus added for #52 covers this issue as well.

[2016-05-18 23:27] kristovatlas commented on #32
This applies to the existing attack:

the proposed new countermeasure will be something like:

defer to 4th edition

[2016-05-18 23:33] kristovatlas commented on #38
countermeasure covered in justus's countermeasure branch.

[2016-05-18 23:58] justusranvier commented on #60
Per meeting discussion, the three listed item in the last comment are criteria applying to the existing countermeasures, not new countermeasures.

[2016-05-19 00:00] kristovatlas commented on #63
Unable to come to consensus about the countermeasure. Moving milestone.

[2016-05-26 00:04] kristovatlas commented on #80
These were listed as countermeasures in my comment above, but should actually be the basis of criteria:

[2016-05-26 00:12] kristovatlas commented on #66
Let's make this the basis for a new criteria instead:

This can be measured based on averages and reasonable assumptions about usage.

[2016-05-26 18:35] kristovatlas opened #93 "possible new attack/countermeasure/criteria: network provider observes sensitive traffic such as bloom-related queries"
a countermeasure or criterion is proposed in this BIP:
https://github.com/bitcoin/bips/blob/master/bip-0151.mediawiki

@jonasschnelli

this might tie to a particular IP or help tie multiple script elements together to a single wallet.

[2016-05-30 23:23] kristovatlas commented on #75
This is satisfied now by this new countermeasure:

[2016-05-30 23:29] kristovatlas commented on #78
I think these new points may relate to a new attack that would fall under the "wallet provider" attacker category: Insert privacy-destroying logic into the source code that is difficult to detect.

A countermeasure would be to authenticate code changes cryptographically. An example criteria would be whether commits and release tags are PGP signed.

Since attacks are feature-frozen for the 3rd edit

[2016-05-30 23:57] kristovatlas commented on #79
Summary of attack: A `Protocol peer` or `Network observer` attacker can observe a transaction broadcast to the network and tie the input(s) to the first hop IP address observed.

I can't find any applicable attacks under these two attacker categories. In the last version of the threat model, this attack worked:

However, I think that may have been reworded since, such that it no longer applies:

H

[2016-05-31 00:10] kristovatlas commented on #80
This is now covered under the new attack:

And the new countermeasure:

[2016-05-31 00:12] kristovatlas commented on #87
As it will undoubtedly take many clicks to set up your own server and point the client toward it, I am can-kicking this to the next milestone; some wallet clients may have this feature, but it won't affect their score, so it's not worth tackling.

[2016-05-31 00:14] kristovatlas commented on #85
I think this is a new kind of attack in the `Network observer` category: Link a user's transaction data -- query or broadcast -- to their non-Bitcoin network activity. Stream isolation tackles this in a Tor context.

Since this is a subtle issue to capture correctly and because the attacks are feature-frozen for the 3rd edition milestone, I am incrementing the milestone.

[2016-05-31 00:20] kristovatlas commented on #81
If https://github.com/kristovatlas/wallet-ratings/commit/b8d180ace1af94474808a07879b9b1c100899d80 is accepted, then I think #81 is satisfied.

[2016-05-31 02:13] kristovatlas commented on #72
This issue boils down to the degree to which the wallet provider secures the connection between himself and the user and prevents men in the middle obtaining that information in transit.

There's probably something in this area that would augment the threat model, but I haven't been able to think of any intellectually "low hanging fruit."

Data sent between the user and the wallet provider should

[2016-05-31 02:18] kristovatlas commented on #82
The existing attack is:

This existing countermeasure for a different attack should now be applied to the above attack:

[2016-05-31 02:29] kristovatlas commented on #82
In an earlier comment I wrote:

This is true, but isn't a new concern. You can construct your CoinJoin or non-CoinJoin transaction in such a way to obscure which outputs are change, but that is covered in this existing countermeasure:

CoinJoin may break the linkage between a change output and a specific set of inputs -- if constructed very carefully, so carefully that today it would be uncharacte

[2016-05-31 02:32] kristovatlas commented on #82
If https://github.com/kristovatlas/wallet-ratings/commit/8351de178ed1429623d07170f369edcfb494d478 is merged, then all countermeasures for this issue are satisfied.

[2016-05-31 02:35] kristovatlas commented on #83
lol, this would break the BIP

[2016-05-31 02:37] kristovatlas commented on #83
To satisfy the fingerprinting of a client based on number of inputs, I am going to slightly re-word this catch-all attack:

Proposed version:

[2016-05-31 02:50] kristovatlas commented on #83
I think the attack implied by the optimal change heuristic can be slotted under this existing attack:

One could make the case that a new attack should be added or there should be some new way of addressing attacks that combine multiple elements (client fingerprinting to infer utxo selection behavior + observations about value of outputs), especially in a conditional order (if vuln to utxo selecti

[2016-05-31 03:00] kristovatlas commented on #83
Here's an idea: Create a new countermeasure to help clarify some of the ambiguities around mixing:

[2016-05-31 17:24] kristovatlas opened #95 "enhancement: add wallet provider questionnaire document for 3rd edition"

[2016-06-11 03:25] kristovatlas opened #96 "report clarification: who is our sample user?"
In a future version of the report, I'd like to add a section that clarifies the user we have in mind when we create our weightings. (This should probably also be clarified in our methodological documentation, as well.) In the past, we've primarily based our weights and metrics on the _average_ Bitcoin user, as opposed to expert/intermediate users, or users with some other specialized concerns. Our

[2016-06-11 03:26] kristovatlas opened #97 "report clarification: intro to bitcoin privacy section"
In a future version of the report, I'd like to add a section that discusses some of the various privacy attacks and countermeasures and their relative importance to our users. See this article by Jim Harper for a request for this clarification: http://www.cato.org/blog/building-bitcoin-ecosystem-privacy-edition

[2016-06-13 20:00] JimHarperDC commented on #97
I'm happy to help when the time comes. Will continue lurking and learning until then.

[2016-06-20 18:07] kristovatlas commented on #97
@JimHarperDC awesome, thank you.

[2016-06-20 18:13] kristovatlas opened #98 "miner attack: delay or prevent mining of transaction based on amount"
This is just the nugget of an idea, but:
A miner could discriminate against payments based on the amounts in the outputs.

A countermeasure would be to craft the transaction in such a way that does not disclose amounts, e.g. Confidential Transactions.

This idea introduces a potential new attacker, which is a miner. The miner is a network-level attacker, but has an ability that other network-level

[2016-06-20 18:13] kristovatlas commented on #98
#84 also relates to Confidential Transactions.

[2016-06-23 01:26] kristovatlas commented on #27
The countermeasure we added pertinent to this issue is:

There are no criteria currently listed under this countermeasure.

I propose this new criterion for this countermeasure:

The ideal score here would be 100===infinity clicks, and the worst score would be 0 clicks, meaning that there is no deviation from the normal "Receive" or "Request payment" workflows in order for the xpub to be transmitt

[2016-06-23 01:31] kristovatlas commented on #28
As in my previous comment, the relevant countermeasure is:

There are 2 criteria currently listed under that countermeasure:

I propose the following new criteria under this countermeasure:

The ideal number of clicks is 0.

[2016-06-23 01:33] kristovatlas commented on #33
I vote that we can-kick this to the fourth edition, as it is complex.

@justusranvier
@crwatkins

[2016-06-23 01:51] kristovatlas commented on #36
The attack for this issue is:

The countermeasure relevant to this issue is:

There are no criteria currently listed under this countermeasure.

I propose this new criterion:

This is grammatically styled after this criterion:

[2016-06-23 02:04] kristovatlas commented on #37
This seems most relevant to this countermeasure in the 3rd edition threat model:

This countermeasure is listed under two attacks:

I propose the following new criterion for this countermeasure, to be applied to both attacks:

I don't think we need to specify mixed transactions, since non-mix transactions that are indistinguishable from mix transactions should also benefit from a higher entropy sc

[2016-06-23 02:17] kristovatlas commented on #38
The countermeasure relevant to this issue is:

There are no criteria listed under this countermeasure currently.

The questionnaire should probably ask wallet providers how they calculate fees. We could also use this opportunity to ask them if they know of other wallet clients using the same oracle.

In previous conversations on this topic, I've noted that a wallet client could add or subtract a r

[2016-06-23 03:19] crwatkins commented on #33
I'm OK with that.

[2016-06-23 09:41] alecalve commented on #38
I think a good countermeasure for fee oracles would be to quantize their estimations and use the same formula to compute fees. Since estimations are often in the same range across oracles, there will be a greater chance of overlap. Plus, the unnecessary precision for estimations makes it easy to match transactions to oracles.

Some care has to be taken when choosing the quanta to find the best com

[2016-06-29 23:42] kristovatlas commented on #27
Justus proposes that we use this criterion instead:

[2016-06-29 23:50] kristovatlas commented on #28
Note: Bither may have some functionality similar to this via sending funds from cold storage.

Edit: Nope, the transaction is still broadcasted from your hot wallet client.

[2016-06-29 23:52] kristovatlas commented on #33
In today's meeting we decided to move this to the next milestone.

[2016-06-29 23:59] kristovatlas commented on #36
Meeting discussion summary: You could do RBF where you add a new input to the updated tx and spend it all on fee, thus not leaking the position of change. Therefore, here's a new wording of the proposed criterion:

[2016-07-20 23:27] kristovatlas opened #102 "criteria: BIP 126"

[2016-07-20 23:27] kristovatlas commented on #102
https://github.com/bitcoin/bips/blob/master/bip-0126.mediawiki

[2016-07-20 23:32] kristovatlas commented on #102
Could be a criteria for these current countermeasures:

[2016-07-20 23:34] kristovatlas commented on #102
Could be a criteria for this current countermeasure:

we should consider breaking that into 2 countermeasures -- 1 for mixing and one for resembling mixing

[2016-07-21 02:45] kristovatlas opened #103 "rephrase criteria: "Only query one address at a time from a specific connection context""
should be more general

[2016-07-21 02:45] kristovatlas commented on #103
Also this one:

[2016-07-21 08:51] dcousens commented on #103
Indeed,  this isn't specifically an address issue,  but the nature of any query.
Also,  the connection itself isn't important,  but the nature of the establish-able identities on either end.

For example,  in a central server situation,  establishing multiple connections will not preserve your privacy if your origin IP does not change,  or if all your queries are made in an orderly, or timely fash

[2016-07-21 08:54] dcousens commented on #103
In an SPV situation,  it is the same problem,  you are just hoping that you can maintain a subnet variance such that attackers aren't able to afford it.

[2016-07-21 08:54] dcousens commented on #103
Unless I'm missing something else RE unique connections?

[2016-07-23 04:11] kristovatlas opened #104 "change countermeasures/criteria related to randomizing change outputs"
Under blockchain observer, the relevant attack is:

The current countermeasure listed under this is:

I’d like to re-word this to:

The one criteria currently listed there is:

I would like to add this new criteria:

I’d like to add this attack to the “wallet provider” attacker:

The re-worded countermeasure “Make the position of the change output(s) in the output list unpredictable” would also fa

[2016-07-23 04:12] kristovatlas opened #105 "Review comments on “2015-2 Criteria” document for proposed changes"

[2016-07-23 04:13] kristovatlas opened #106 "Reword countermeasure about address reuse"
Change to “Avoid reuse of identifiable script elements”
JSON Comment: “This is a generalization of the idea of avoiding address reuse. Identifiable script elements include: public keys in OP_CHECKMULTISIG scripts, P2PKH addresses, P2SH addresses, etc.”

[2016-07-23 09:07] dcousens commented on #104
Ordered randomly... by what measure?
I guess you could say the existence of any order is counter to this measure,  but then BIP69 would be an issue.

[2016-07-24 17:24] kristovatlas opened #107 "clarify what is meant by "BIP 62" compliance"
At some point, it would be helpful to clarify what we mean by BIP 62 compliance.

The BIP has been withdrawn and parts of it may are probably not applicable to the privacy goal we're attempting to measure. If we don't know exactly what we're looking for, it's also unlikely that wallet providers know what is meant by BIP 62 compliance.

https://github.com/bitcoin/bips/blob/master/bip-0062.mediawiki

[2016-07-24 18:22] kristovatlas commented on #107
I'm fine with can-kicking this to 4th edition milestone, but wonder if @dcousens already has some insight into this.

[2016-07-24 19:08] kristovatlas commented on #107
Checklist:
- ECDSA Signatures are strict DER encoded, per [BIP 66](https://github.com/bitcoin/bips/blob/master/bip-0066.mediawiki); unlikely that any wallets are not adhering to this as it's been a relay policy for 1.5 years. Reference about DER: https://wiki.openssl.org/index.php/DER Also the "DER encoding" section of [this document](https://github.com/bitcoin/bips/blob/master/bip-0062.mediawiki#

[2016-07-24 19:26] kristovatlas commented on #107
After thoroughly reading BIP 62, I think it's fairly clear. I would find it useful to create a tool to fact-check developers who may get this wrong, though, since most wallet providers are using libraries to build transactions and may not understand all of these details.

[2016-07-24 20:08] kristovatlas opened #108 "Reword criteria about detecting whether wallet was installed"
Current wording:

Too vague. Proposed new wording based on feedback from testers during testing phase of last report:

[2016-07-24 20:45] kristovatlas opened #109 "de-list the "# of mixing partners" criteria from countermeasure for "risk-free mixing""
Currently this countermeasure:

Under this attack:

Has 2 criteria:

The first one is not relevant. Remove it.

[2016-07-24 20:55] kristovatlas commented on #107
An existing tool for DER encoding: https://github.com/bitcoinjs/bip66 via @dcousens

[2016-07-24 23:21] kristovatlas opened #110 "rename countermeasure concerning querying blockchain data for multiple addresses"
Current wording:

Proposed new wording:

The criteria that apply to this countermeasure are as follows, prompting the rewording:

Alternatively, we could break up the current countermeasure into multiple countermeasures.

[2016-07-27 23:36] kristovatlas commented on #110
Let's retain this countermeasure:

re-word criteria:

to:

Add a new one:

All other criteria will fall under this. ACK'd by @justusranvier and @crwatkins in meeting

[2016-07-27 23:41] kristovatlas commented on #109
@justusranvier and @crwatkins have ACK'd removing CR19 from that countermeasure.

[2016-07-27 23:43] kristovatlas commented on #108
ACK'd by @justusranvier and @crwatkins

[2016-07-27 23:43] kristovatlas commented on #106
ACK'd by @justusranvier and @crwatkins

[2016-07-27 23:47] kristovatlas commented on #102
Criteria wording:

[2016-07-27 23:47] crwatkins commented on #102
LGTM

[2016-07-28 00:00] kristovatlas commented on #102
@justusranvier ACK'd this and will make the relevant pull request

[2016-07-28 15:28] LaurentMT commented on #37
A few remarks about the entropy metrics displayed on OXT:

OXT computes and displays the Actual Entropy metrics which evolves over time and depends on additional information (e.g. "input addresses" clustered thanks to another transaction, etc) (https://gist.github.com/oxt-btc/8ba2db54be430d5c377c#file-gistfile1-txt-L76)

A better metric for this need may be the Intrinsic entropy which relies on th

[2016-07-29 15:00] kristovatlas commented on #105
This is now complete -- reflected in changes to the obpp3.json document in the https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system repo.

[2016-07-29 15:00] #105 closed, assigned to kristovatlas

[2016-07-29 15:00] kristovatlas opened #111 "Revisit criterion for number of clicks to perform first backup"
OBPPV3-CR61 is:

This is currently only used as a criterion for OBPPV3-CM56:

Under this attack:

The other criterion under that countermeasure is OBPPV3-CR62:

CR61 doesn’t seem relevant to the privacy properties of eternal backups; you’re equally screwed whether you reuse addresses or not if you do 0 backups. CR62 does properly capture the intention of the countermeasure, IMHO.

If others agree,

[2016-07-29 15:01] kristovatlas opened #112 "Revisit criterion for number of clicks to import a private key into an identity container"
OBPPV3-CR45 is:

It is only assigned to one countermeasure/attack:

There is another, better criteria already listed under that countermeasure, OBPPV3-CR44:

Problems with OBPPV3-CR45 were highlighted during our last edition testing phase. It’s not possible to accomplish this goal in zero clicks, it’s ostensibly a corner case, and just overall not a well-formed measurement of privacy.

I suggest w

[2016-07-29 15:02] kristovatlas opened #113 "Review document comments for “Rating Procedure” from 2nd edition, incorporate into new procedure"

[2016-07-29 15:03] kristovatlas opened #114 "Task List for 3rd Edition Report"
[ ] Determine new scoring and threat model format (in progress)
 [ ] Process open issues on GitHub for 3rd edition milestone
 [ ] Generate finalized threat model document
 [ ] Generate finalized wallet provider questionnaire
 [ ] Generate finalized base scores for threat model
 [ ] Generate Rating Procedure instructions
 [ ] Generate Score sheet to distribute to and collect from testers
 [ ] Code

[2016-07-31 02:46] dcousens opened #115 "Anti-fee sniping counter-measures"
Anti-fee sniping is the act of setting `nLockTime` to the current block height such that it discourages a miner to perform a re-org.

Quote from @petertodds commit (https://github.com/bitcoin/bitcoin/commit/db6047d61b742be07442f891e70570b791c585e3, pull request https://github.com/bitcoin/bitcoin/pull/6216)

Does this have any privacy implications?

AFAIK,  at the time of transaction creation,  it

[2016-08-03 04:04] kristovatlas commented on #103
@dcousens I think you’re spot on. I think we can break this notion into two parts:
1. Separating bits of data that are not necessarily correlated on the blockchain into separate queries
2. Maximizing the number of other users of the query oracle who we could attribute each of your queries to, where “we” == the query oracle and passive network observers

The phrase “connection context” was intended

[2016-08-03 04:05] kristovatlas commented on #103
at next meeting, let's ACK/NACK these proposed re-wordings; NACK if further discussion is required

[2016-08-03 04:08] dcousens commented on #103
Do you instead mean:

[2016-08-03 21:50] dcousens opened #116 "Preferred Transaction Version"
With https://github.com/bitcoin/bitcoin/pull/7562 looking like it may be merged soon,  should implementations follow it as a default?

Right now,  you would stand out with `version=2` compared to `version=1`,  but that may decrease over time.
Should, we have a set of rules in place to preserve privacy but align the transaction purely with what features it needs/uses?

[2016-08-03 23:11] dcousens commented on #110
ACK on all

[2016-08-03 23:13] dcousens commented on #109
ACK

[2016-08-03 23:19] kristovatlas commented on #108
@dcousens recommends comment for OBPPV3-CR58: something like:

[2016-08-04 00:57] dcousens commented on #108
Maybe as two different scoring points rather than a combination?

I'd wager in some cases you'll have both,  others only 1.
They certainly have 2 different levels of user competency associated.

[2016-08-04 01:12] kristovatlas commented on #116
Good question!

The fingerprintability of a transaction to a particular wallet client depends on the set of transactions created by other wallet clients exhibiting that same particular set of characteristics, including version number.

In a lot of cases, I think there is a clear "best practice" standard for transactions to avoid fingerprintability, such as adhering to the various components of BIP

[2016-08-04 01:15] kristovatlas commented on #116
The relevant attack in the threat model currently is I E (c2913473dfdef786bdbafcc4b3022852a13f9ecf90aedd41196d8fa5466f1613)

There are no countermeasures that are relevantly worded for version number.

[2016-08-04 02:09] dcousens commented on #116
It might even be the nature of a new BIP similar to "version number is minimally encoded"

[2016-08-04 02:50] dcousens commented on #86
I think it should be a weighting based on the perceived entropy of that information,  added together.
Requires more measurement work though.

[2016-08-04 21:42] kristovatlas opened #117 "enumerating forensic attacks on data at rest"
In the future we may have time to go into greater specifics about the kinds of forensic attacks possible on data at rest, and the relevant countermeasures/criteria.

http://www.weare4n6.com/chip-off-technique-in-mobile-forensics/

[2016-08-06 18:42] kristovatlas commented on #104
@dcousens: How about this? Instead of:

It would be:

We could try to define “entropy” and “securely” further, but I think this is sufficient to resolve ambiguity as applied to all existing wallet clients.

[2016-08-06 18:44] kristovatlas commented on #106
https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/commit/bc0b3748768242a37b0ac3c359970ac883935182 satisfied this issue.

[2016-08-06 18:44] #106 closed, assigned to nobody

[2016-08-09 21:59] kristovatlas opened #118 "maybe new attack -- another app on the same device captures keystrokes"
this is particularly easy to do with a malicious keyboard app on Android, I think.

A countermeasure might be enforcing that the standard system keyboard is in use, or avoiding having the user type in data relevant to their transactions, such as their backup mnemonic.

Referernce: https://medium.com/@paullinator/why-a-12-word-mnemonic-is-an-insecure-bitcoin-wallet-backup-d56085da6c8d#.asyvg5yhg

[2016-08-10 03:24] kristovatlas commented on #118
I would suggest we postpone this to the 4th edition.

[2016-08-10 23:51] kristovatlas commented on #116
@crwatkins @dcousens and myself discussed this: we should measure the % of tx that match no/v1/v2 version field and that can be a criteria. TODO: create relevant attacks/countermeasures in threat model

[2016-08-11 00:00] kristovatlas commented on #112
@crwatkins suggests maybe replacing this criterion with another one in the future that is conceptually similar

[2016-08-11 00:01] dcousens commented on #112
I'm up for just deleting it. :+1:

[2016-08-11 00:01] crwatkins commented on #112
ACK

[2016-08-11 00:01] dcousens commented on #111
Happy to delete

[2016-08-11 00:02] crwatkins commented on #111
Good to delete.

[2016-08-11 00:02] crwatkins commented on #110
ACK

[2016-08-11 00:05] dcousens commented on #108
Scoring points:
- Detectability In-the-app
- Detectability Outside-the-app

Questions for both:
- Detectable that the wallet _application_ did/does exist?
- Detectable that [another users] account exists?
- Detectable that an account did previously exist?

[2016-08-11 00:27] kristovatlas commented on #108
we talked tonight about different things an attacker might try to find things out inside the app and outside of it -- I will make a PR with some new/reworded criteria in this area to look at next week

[2016-08-11 00:31] kristovatlas commented on #9
@dcousens and I agree that this is now already ecapsulated in the threat model:
attack VII A (10ecc7158e69bb586e26d8ec61259b62bfaf09d27e565f7b2dc9c17a48c5e8a3):

countermeasure OBPPV3/CM56 (a1105cde8ea2d45d7a7dc6fc4ab80fa22f160f9fa60c79dff3dcee6554cdba83):

criteria OBPPV3/CR61 (7469be3f34f05b2c68134f15c34a652770bc7bf6f87c55efb13e8947fec6b7ec):

and OBPPV3/CR62 (40469102b1740a6b0e133190617f8db0c1f

[2016-08-11 00:31] #9 closed, assigned to nobody

[2016-08-11 00:33] kristovatlas commented on #13
A criterion exists for this now, OBPPV3/CR70 (2962fa537ab4b70651f21a2d0a8c82c9ad5668663d72755f67d414fb17e2a3f5):

[2016-08-11 00:35] kristovatlas commented on #13
Other related criteria that exist that were alluded to above:

[code]

and

[code]

[2016-08-11 00:35] #13 closed, assigned to kristovatlas

[2016-08-11 00:35] kristovatlas commented on #13
Thanks for the feedback @schildbach and @JeremyRand

[2016-08-11 00:46] kristovatlas opened #119 "meta-attack: unfriendly contribution setting dissuades participation and thus peer inspection of source code"
A countermeasure would be to have a less restrictive software license explicitly stated on a repo, I suppose.

Some other things that could dissuade community participation could be:
- lack of contributing guidelines on repo
- low rate of accepting PRs

Bounty programs might also be some kind of metric for peer review of security.

As it's late in the game to include this in our 3rd edition threat

[2016-08-11 01:29] kristovatlas commented on #18
The relevant criterion in use is

[code]

[2016-08-11 01:39] #18 closed, assigned to nobody

[2016-08-11 01:46] kristovatlas commented on #19
Relevant items in our current threat model:

Attack I C (f7e2c15df5f10ed4c459e5d1db91201c5da16d11d43eca057f0df5111df20ff7)

countermeasure I C 3, OBPPV3/CM12 (20de0af282762741c3682768c91f936496a6b5fe26f697bb78cc90bae973debf):

criterion I C 3 a, OBPPV3/CR06 (0b9e84a58167c878967f8420496f303ae19d5c65722ad5b7e2511b2356d12848):

[2016-08-11 01:54] kristovatlas commented on #19
As for BIP 62-relevant issues being used to identify change outputs:

Suppose your transaction has one spend output to another party and a change output back to your wallet. If you always sign transactions in a BIP 62-compliant fashion but your recipient does not, a blockchain observer might notice the difference in transactions that spend the two different outputs and infer which output is your c

[2016-08-11 01:55] kristovatlas commented on #21
All of the stuff mentioned in this issue is now included in the threat model. Closing.

[2016-08-11 01:55] #21 closed, assigned to justusranvier

[2016-08-16 04:23] kristovatlas opened #120 "who is the target user in the threat model?"
For a while I've been saying that weights in the model are assigned according to severity of threat against the average user, but we haven't clarified further about this user. It would help at some point to clarify some assumptions about this platonic user and what assets he is protecting.

For example, how many Bitcoin addresses does the user have to protect from clustering analysis?
@jonasnick h

[2016-08-16 21:42] kristovatlas commented on #108
Above we have discussed two changes to the threat model with respect to forensic attacks:
1. Distinguish between in-app vs out-app interrogation of the device.
2. Add a criterion related to initializing the wallet with a random wallet data file to make it difficult to distinguish from a used, encrypted wallet data file.

Here are the existing attacks, countermeasures, and criteria related to foren

[2016-08-17 22:53] #110 closed, assigned to kristovatlas

[2016-08-17 22:53] #109 closed, assigned to kristovatlas

[2016-08-17 22:54] kristovatlas commented on #103
@dcousens yes, I think that is a fair statement

[2016-08-17 22:55] kristovatlas commented on #96
related issue #120

[2016-08-17 22:57] kristovatlas commented on #86
@dcousens since we've ACK'd https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/pull/6 , let's revisit that thought for the 4th edition

[2016-08-17 22:58] kristovatlas commented on #81
there are still a few oustanding threat model items in the current version (search for 'quer') that are not sufficiently general, and should be re-worded and maybe enhanced with clarifying comments in the JSON source

[2016-08-17 22:58] kristovatlas commented on #80
would be more clearly worded as:

and similar comments for the other proposed criteria

[2016-08-17 22:59] kristovatlas commented on #77
Since there are no known clients using prefix filtering at present, I'm moving this to the 4th edition

[2016-08-17 23:35] justusranvier commented on #80
Proposed criteria:

Transactions are conveyed to the next hop via a randomized Tor connection or an equivalent technique.

[2016-08-17 23:39] dcousens commented on #80
:+1: , just saw this.  Sorry.

[2016-08-17 23:48] kristovatlas commented on #80
Now we have 4 new criteria.

This attack is specifically for Protocol peers (sybil-style attacker)

[2016-08-17 23:57] kristovatlas commented on #108
Wording needs to be fixed.

[2016-08-17 23:58] dcousens commented on #108
May be easiest to just frame the questions in terms of https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/108#issuecomment-239041625?

[2016-08-18 00:06] kristovatlas commented on #80
The currently relevant countermeasure is:
[code]
this is not correctly worded, it should be less specific

[2016-08-18 00:06] kristovatlas commented on #104
The currently relevant countermeasure is:

[code]

this is not correctly worded, it should be less specific

[2016-08-18 00:08] dcousens commented on #104
Proposed counter measure:

BIP69 and randomizing outputs are _criteria_.

[2016-08-18 00:09] dcousens commented on #104
BIP69 and randomizing outputs are *criteria*.

[2016-08-18 00:11] dcousens commented on #104
Secondary counter measure:

Criteria: BIP126

[2016-08-18 00:12] dcousens commented on #104
The third counter measure (think about multisig users sending to P2PKH):

Criteria: ???

[2016-08-18 00:13] justusranvier commented on #104
This attack should have three countermeasures:
- The order of outputs in the transaction does not reveal information regarding output ownership.
- The values of the outputs do not reveal information regarding output ownership.
- The composition of output scripts does not does not reveal information regarding output ownership.

All existing countermeasures should be made into criteria applying to o

[2016-08-18 00:13] dcousens commented on #104
The attack could be re-worded to be less specific about just change outputs,  but also about differentiating real world "destinations" (change,  coffee shop + maybe some other 3rd party)

[2016-08-18 00:16] kristovatlas commented on #104
TODO: refine the "real world context" portion of this wording

[2016-08-18 00:24] kristovatlas commented on #104
ACK

[2016-08-18 00:24] dcousens commented on #104
ACK

[2016-08-18 00:50] dcousens commented on #82
As captured in https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/blob/a67a63a73353a3d9054a493cc79d3dd3f06af38b/obpp3.json#L20, ACK `Avoid reuse of identifiable script elements`

[2016-08-18 00:53] kristovatlas commented on #82
the other general countermeasure idea here is to blend in with your counterparty (H/T @dcousens) but in this case that would require you to reuse an address for your change address and/or reuse another address in the next transaction (if your counterparty spends outputs first) in order to blend in; since that clearly has other negative effects, we won't bother to put it in the threat model for now

[2016-08-18 00:54] kristovatlas commented on #82
I will make a PR to specify the relevant criteria @dcousens and I discussed tonight.

[2016-08-18 04:21] kristovatlas commented on #25
Closing this issue as all of this has since been added to the threat model

[2016-08-18 04:21] #25 closed, assigned to justusranvier

[2016-08-18 04:24] kristovatlas opened #121 "consider adding client fingerprinting attack to wallet provider and network observer"

[2016-08-18 04:25] kristovatlas opened #122 "JSON comment: annotate why bip 62 is listed in list of countermeasures to detecting which output is change"

[2016-08-18 04:28] kristovatlas opened #123 "new attack: wallet provider use order of inputs or outputs to surreptitiously leak info"
countermeasure: see bip 69 related items

[2016-08-18 04:31] kristovatlas opened #124 "consider allowing same attack to be listed under multiple attackers"
we noticed some instances in which the same or very similar attacks are coming up in multiple attacker categories.

it might be useful to link to the same attack for multiple attacks, as is currently done for countermeasures and criteria.

[2016-08-19 03:17] kristovatlas opened #125 "review the network observer, transaction participant, and wallet provider attacks to look for attacks that should be listed commonly but are not yet"
related issues:
https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/124
https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/121

[2016-08-19 03:19] kristovatlas opened #126 "consider detectability as a severity benchmark"
users who detect that an attack has taken place are more likely to take preventative measures to avoid them in the future. this arguably comes into play for blockchain and network observers in 2 ways:
1. blockchain observation is silent, while active network observers (eg P2P Sybil attackers) are not. 2. There are arguably better open source / free tools available to point out privacy mistakes on

[2016-08-19 03:21] kristovatlas commented on #108
Updated with changes in italics:
- 8f2926c6d9443fb47d9f2a30c489d6403c2a1fcd8ce9aea6e60a89f1c43127cb: Detect the existence of a wallet on a device
  - OBPPV3/CM44 (aa2d6bd66f83cb7a65af511cfc42990d3d41008bf7820782f376de197a8dac06): Install the application is such a way that it is not detectable unless user performs a series of actions unlikely to be duplicated by an unauthorized user
    - OBPPV3/CR

[2016-08-19 03:22] kristovatlas commented on #79
The same four criteria for OBPPV3/CM11 in the blockchain observer can be used here:
1. "id": "OBPPV3/CR09",  "description": "When an outgoing transaction must merge inputs, and when mixing is not being used, the transaction constructed in a way that plausibly resembles a mixing transaction"
2. "id": "OBPPV3/CR18", "description": "Number of clicks required by user for inputs/outputs to be mixed wit

[2016-08-19 03:25] kristovatlas commented on #75
Two proposed criteria for this countermeasure:
1. Use a fee/byte calculation API shared by multiple wallet providers (weaker)
2. Randomly add or subtract a random amount from the fee such that it falls within the possible range of multiple wallet clients at the time the transaction enters the P2P network

[2016-08-19 03:26] kristovatlas commented on #73
2 Proposed criteria:
1. The wallet client waits for a random amount of time (the maximum being at least one hour) before introducing the transaction to the Bitcoin P2P network
2. The wallet provider waits for a random amount of time (the maximum being at least one hour) before introducing the transaction to the Bitcoin P2P network

[2016-08-19 03:27] kristovatlas commented on #72
I don't think we have any clear attacks or countermeasures in the threat model, and therefore should push this off to the 4th edition.

[2016-08-19 06:04] dcousens commented on #108
IMHO

[2016-08-19 06:05] dcousens commented on #108
This could vary O/S to O/S,  or even model to model (think of developers targeting Android 4+,  but Samsung might have a custom uninstaller etc).

[2016-08-19 06:08] dcousens commented on #108
IMHO

[2016-08-19 06:08] dcousens commented on #108
ACK https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/108#issuecomment-240917959,  but some suggested edits above (personally).

[2016-08-19 08:20] dcousens commented on #75
Would a counter measure be using the median fee rate over the last few blocks?
Compared to say an average?

[2016-08-21 03:25] kristovatlas commented on #108
Yes, some of our metrics vary across operating systems at least -- maybe models. I don't know of a way to avoid this. It does not strike me as important to try to avoid. It might be helpful to document which model testing is performed on, but so far there haven't been any model-specific discrepancies in the past two reports despite the fact that at least two testers evaluate each wallet and are no

[2016-08-22 04:01] kristovatlas opened #127 "consider time of privacy breach for blockchain-based attacks"
It may be helpful to break up attacks and/or countermeasures based on when privacy breaches actually take place.

For example, a change output might be attributed to you as a sender based on the transaction the output belongs to, or based on future transactions due to behavior of you and/or your counter-party.

There are related countermeasures for both of these. Since users tend to stick with the

[2016-08-22 04:34] dcousens commented on #127
Is timing analysis an attack?
It would definitely be a high entropy behavioural exposure...

For example,  say I gamble at night,  and buy coffee using bitcoin in the morning.  Near consistently.

If this is a pattern on even a daily basis,  it'd be very easy to isolate my addresses over time based on those two correlations.

[2016-08-22 21:57] kristovatlas commented on #82
Looks like all of the criteria we talked about are listed for the relevant attack now: https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/blob/a67a63a73353a3d9054a493cc79d3dd3f06af38b/obpp3.json#L124-L191

[2016-08-22 21:57] #82 closed, assigned to kristovatlas

[2016-08-24 23:34] kristovatlas opened #128 "RBF: changing inputs may link merged inputs not present in final version"
we discussed this PR:
https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/pull/18

If you change around the inputs, you might be leaking info about which inputs you own that is not evident only in the final version of the transaction.

[2016-08-25 01:54] #111 closed, assigned to nobody

[2016-08-25 01:55] #81 closed, assigned to kristovatlas

[2016-08-25 01:56] #108 closed, assigned to kristovatlas

[2016-08-25 01:57] #122 closed, assigned to kristovatlas

[2016-08-25 02:00] #112 closed, assigned to nobody

[2016-08-25 02:16] kristovatlas commented on #75
Only if other wallets are doing the same thing, which is functionally equivalent to the first criterion I proposed above.

[2016-08-25 02:18] dcousens commented on #75
But isn't that by default _what_ other wallets are doing?
If it is the median,  its the middlemost common fee rate others are choosing?  (note: not average)

[2016-08-25 02:19] dcousens commented on #75
I suppose maybe instead you could choose instead a bucketed fee rate,  choose the most "common" instead,  not the middlemost,  but,  of the possible fee rates in a block,  choose the fee rate that is the most common between them all.  Then maybe do the median of that over a few blocks?

[2016-08-25 02:24] kristovatlas commented on #75
The median, as you pointed out later, could end up being uncommon and therefore not very helpful for blending in.

I don't think so.

Most wallets use their own server endpoints for looking up proposed fees. In normal network conditions, that is some estimation of an average of recent blocks, but there may be deviations in that average that clearly distinguish which wallet client authored a transa

[2016-08-25 02:32] dcousens commented on #75
I think I'll have to do some fee analysis to determine if that would be useful or not.
If the variability of fee rates is too high,   you might stick out more for choosing a duplicate fee rate.
Compared to your criteria above.

[2016-08-26 15:39] kristovatlas commented on #127
Yes, definitely. I also expect that it would be a high entropy approach, though.

For reference, oxt.me provides temporal analysis on a per-address basis, but the same could easily be done for clusters of addresses: https://oxt.me/address/tiid/133522641

[2016-08-26 15:41] kristovatlas commented on #127
Proposed attack (wording needs to be refined): Identify ownership of change output based on temporal patterns of output spends and how they coincide with temporal patterns of clustered addresses.

[2016-08-27 19:46] LaurentMT commented on #127
Actually, OXT provides the same analysis on a per-entity basis too. :)

A few examples:
- BTCC (China): https://oxt.me/entity/BTCCHINA
- Multibit (UK) : https://oxt.me/entity/multibit
- Early adopter living in Texas : https://oxt.me/entity/tiid/439610376

A post on reddit explaining how to analyze these charts: https://www.reddit.com/r/Bitcoin/comments/42xcyp/privacy_do_bitcoiners_dream_of_electro

[2016-08-30 21:20] kristovatlas commented on #68
All attacks under this attacker currently match the designation of "Physical Attacker". Unless we had additional attacks to this category that don't fit, we can close this issue. Will leave it open until the other issues for 3rd edition are closed.

[2016-08-30 21:41] kristovatlas commented on #19
The key attack discussed in this issue now exists in the threat model (I B / 992616b5f39e8ee98e07026f40798b002307e741ff6e8343f2a1bc964302f173):

The list of countermeasures for this should be cleaned up similar to how we cleaned up those under attack I E (c2913473dfdef786bdbafcc4b3022852a13f9ecf90aedd41196d8fa5466f1613)

I will follow up with a comment here explaining how I think it should be clea

[2016-08-31 23:10] kristovatlas opened #129 "reword CR09 (BIP126)"
[code]

@justusranvier suggests we re-word this to implementing BIP126

[2016-08-31 23:22] kristovatlas commented on #103
3 ACKs on this wording during tonight's meeting

[2016-08-31 23:22] crwatkins commented on #103
OK with "conceivably" & ACK above.

[2016-08-31 23:32] kristovatlas commented on #75
We're currently planning to list no criteria for this until the 4th edition, unless we can come up with a tool before 3rd edition's threat model is finalized.

[2016-08-31 23:38] kristovatlas commented on #73
Let's take out the bit about one hour and we'll make the effectiveness per-client a function of the maximum time.

[2016-08-31 23:40] kristovatlas commented on #73
I will make a PR with these criteria and with the above consideration included

[2016-08-31 23:44] kristovatlas commented on #69
This would relate to the use of tumbler services in a wallet.

It would be a measurement of the number of transactions going through the tumbler.

[2016-08-31 23:44] kristovatlas commented on #69
Since this doesn't really apply to any existing wallets, let's put it off

[2016-08-31 23:44] crwatkins commented on #69
ACK

[2016-08-31 23:48] kristovatlas commented on #66
Percentage of transactions broadcast over a network by the wallet client that don't originate from the user.

[2016-08-31 23:57] kristovatlas commented on #59
This applies to two attacks.

1)
https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/blob/0b3603fb0e7dce5d6de19ca5ab1e93f507646ce0/obpp3.json

[code]

[code]

new proposed criteria:
~~> All output scripts have the same number of keys~~

2) So under this attack:

[code]

Also CM64

but this the only criterion:

[2016-09-01 00:21] dcousens commented on #59
These aren't related to outputs though,  P2SH is only revealed on an input?   Or are we assuming exposure?

[2016-09-01 00:24] dcousens commented on #59
What about the mixing,  just in general,  of P2SH and P2PKH.
This is more often the issue.

Or a green address 2-of-3 being sent to a BitGo 2-of-2.
The issue there is the resultant outputs (that is, _after exposure_) have differing key-structures to satisfy.
(2-of-2 vs 2-of-3).

They also might have identifiable keys being used.

Sometimes this isn't _even_ possible to fix,  because the recipient

[2016-09-06 19:37] kristovatlas commented on #58
All of they key ideas in this thread are being handled currently issue #73. Laurent mentioned a couple novel criteria that aren't implemented in existing wallets, so I am pushing this particular issue to the next edition milestone.

[2016-09-07 00:59] kristovatlas commented on #57
Here are the relevant items in the threat model for telemetry currently:
- Wallet provider attack: Cause the wallet to transmit usage and/or debug data back to the provider which can be used to correlate transactions to a particular user
  - Countermeasure CM52: Only send debug information if users opt-in and are allowed to review the information before being sent
    - Criterion CR66: Number of c

[2016-09-07 01:05] kristovatlas commented on #56
I think we the items in our model now cover this sufficiently:
- Physical adversary attack: Conduct physical surveillance, especially against mobile users, to get sensitive information from screen or contextually tie blockchain activity to visual activity
  - Countermeasure CM43: Before or when displaying it, warn users about the privacy consequences of sharing data that can allow parties who will

[2016-09-07 01:08] kristovatlas opened #130 "Re-write all criteria descriptions as questions"
Does the wallet client [adhere to POSITIVE privacy action X] ?
How many clicks, taps, or return key presses are required to [achieve POSITIVE privacy action Y] ?

I plan to do this after the other criteria issues are settled. H/T @justusranvier

[2016-09-07 22:08] kristovatlas commented on #53
I'm not sure the attack we have currently is clear. What is the damage done by requiring counter-parties to sign in order to make a spend valid?

[2016-09-07 22:20] kristovatlas commented on #52
Currently we have only one Network observer attack that would apply to this:
- Network observer attack: Temporally correlate activity of a specific wallet across different connection sessions by observing idiosyncratic client wallet behavior which acts as a unique fingerprint
  - Countermeasure CM30: Avoid communicating state-based information to other entities which could be used to uniquely iden

[2016-09-07 22:26] kristovatlas commented on #47
@josephbisch: Good questions, but I don't think there's any real demand to go into this level of detail at present; there are very few clients that are even vaguely reproducible.

I'm going to leave this open, but it will be pushed to the next version of the threat model for further consideration of these details.

[2016-09-07 22:30] kristovatlas commented on #46
In the model currently:
- Network observer attack: Correlate an IP address to a likely transaction participant by monitoring for queries (to a block explorer, etc.) about specific recent transactions
  - Countermeasure CM31: Avoid performing queries to third party services regarding specific transactions in a manner which reveals the IP address of the user
    - (no criteria)

Existing criteria in

[2016-09-07 22:50] kristovatlas commented on #45
Currently in the model:
- Network observer attack: Perform a transport-level MITM attack on a connection between the wallet and a source of server to obtain PII and/or insert malicious code into the communication between wallet and server
  - CM32: Pin the expected public key/certificate in the client to prevent successful MITM attacks
    - (no criteria)

Suggested new criterion:

[2016-09-07 23:43] kristovatlas opened #131 "Alternative to creating identity containers: Just never merge heterogenous inputs"
Relevant attack:

1 Countermeasure:

This would be a new countermeasure

[2016-09-07 23:44] kristovatlas commented on #131
This came up in discussion with @dcousen about how coinswaps could avoid merging heterogenous inputs in a single tx in relation to #44

[2016-09-07 23:45] kristovatlas commented on #44
This is sufficiently covered in OBPPV3/CR44

Some relevant follow up for next edition here https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/131

we should consider this in the weighting for CR44

[2016-09-07 23:56] kristovatlas commented on #45
Let's re-word the countermeasure:

[2016-09-08 00:02] kristovatlas commented on #45
Let's have these two criteria under that reworded countermeasure:
1. The wallet client uses a pinned X509 certificate or public key for TLS encryption of traffic
2. The wallet client uses a pre-shared key to authenticate the server

[2016-09-08 00:14] kristovatlas commented on #46
Let's make a duplicate of CR27 above but use "transactions" instead of "addresses"

The other 3 can also be listed under CM31.

[2016-09-08 00:15] kristovatlas commented on #46
Comment to CR25: "A local copy" may also be remote but under the user's private control.

[2016-09-08 00:24] kristovatlas commented on #52
Proposed criterion: The wallet client does not send stateful information in messages that persists between connection contexts.

Comment for JSON: "Stateful information includes a unique browser fingerprint, HTTP cookies, HTTP headers, etc."

I will add this in a PR.

[2016-09-08 00:38] kristovatlas commented on #52
We should also list this criterion under II A, OBPPV3/CM61 "Perform multiple queries for blockchain data in a way that makes it difficult to correlate the queries with one another"

[2016-09-08 00:54] kristovatlas commented on #53
@justusranvier we're struggling to justify this attack, your feedback would be helpful

[2016-09-08 00:58] kristovatlas commented on #57
Let's reword the attack s/transactions/blockchain data/

[2016-09-08 01:00] kristovatlas commented on #57
Examples of troublesome debug data:
- The user specified a custom amount for the fee
- A bloom/prefix filter was updated
- A transaction was sent at a specific time
- Description of transaction "I bought an oz of gold from Bob"
- Error messages that contain information correlated to blockchain data, such as a malformed QR code
- Telemetry about the structure of a transaction
  ...

We can put thes

[2016-09-08 01:16] kristovatlas commented on #57
We'd like to add a criterion eventually for partial mitigation via aggregating debug/telemetry data, but we're struggling to think of how the effectiveness would be measured.

I propose not adding a criterion for now, but adding a question to the questionnaire so that if any wallets are doing this, we can get more specifics and use that to inform a future criterion.

[2016-09-08 01:45] kristovatlas commented on #59
We may consider dropping attack "F" as a duplicate of "B"

[2016-09-08 01:45] kristovatlas commented on #59
Added new criteria for "B" in the comment above

[2016-09-08 01:45] kristovatlas commented on #59
Would like to check with @justusranvier on removing "F"

[2016-09-08 02:06] dcousens commented on #44
How would that potentially work?

[2016-09-09 02:12] kristovatlas commented on #44
@dcousens Where is this quote from?

[2016-09-09 02:13] kristovatlas commented on #42
This issue has two dangling countermeasures with no criteria.
- Network observer attack: Identify an entity as a likely transaction participant by observing out-of-band notifications subsequent to a transaction generated by any participant and/or their wallet provider
  - CM33: Do not transmit out-of-band notifications to a user when a transaction has been received
    - (no criteria)
  - CM34: Tr

[2016-09-09 02:14] kristovatlas commented on #40
As far as cookies go, this is a duplicate of issue #52

I’m tagging this with “questionnaire” in case we want to revisit the comments here for questionnaire questions.

[2016-09-09 02:15] kristovatlas commented on #52
I plan to re-word this attack

to

for more clarity.

[2016-09-09 02:16] kristovatlas commented on #38
This issue overlaps with #75, where our current plan is outlined:

Bumping to 4th edition.

[2016-09-09 02:17] kristovatlas commented on #29
This has been added to the threat model:

[code]

[2016-09-09 02:17] #29 closed, assigned to nobody

[2016-09-09 02:17] kristovatlas commented on #29
BTW, the effectiveness scores are TBD and won't be 0 in the final draft.

[2016-09-09 02:19] kristovatlas commented on #26
Current covered in the threat model:
- Network Observer attack: Derive the type of wallet used to create a transaction by passively observing idiosyncrasies in the interactive behaviour of the wallet
  - CM28: Avoid using one distinctive user agent when connecting to the Bitcoin network
    - CR38: The wallet connects to the network using an unremarkable user agent
    - CR39: The wallet connects

[2016-09-09 02:19] #26 closed, assigned to justusranvier

[2016-09-09 02:22] #56 closed, assigned to nobody

[2016-09-09 02:25] kristovatlas commented on #41
We can can-kick this to 4th edition, let's discuss during the next meeting.

[2016-09-10 20:07] #66 closed, assigned to nobody

[2016-09-14 23:26] kristovatlas commented on #42
reword:

to:

[2016-09-14 23:27] kristovatlas commented on #42
reword:

to:

[2016-09-14 23:39] kristovatlas commented on #41
A few thoughts: The wallet provider might persuasively solicit PII without making the wallet not-work. For example, the wallet provider might give the user a better backup experience if he provides his email address optionally, and not be transparent to the user about the negative privacy consequences. (That might be another feedback criterion.)

We don't have any additional criteria prepared now,

[2016-09-15 01:33] dcousens commented on #42
ACK on both

[2016-09-15 02:48] #45 closed, assigned to nobody

[2016-09-15 02:51] #73 closed, assigned to kristovatlas

[2016-09-15 03:30] kristovatlas opened #132 "remove duplicate, unlisted countermeasures"
The following 2 countermeasures (CM17 & CM18) are currently unlisted in the threat model, left over from the previous version, and are now deprecated by criteria.
1. CM17 (d823f2dd9e93f8064d89e170ae95ae60743bf178825f7a14ae35dcdc9f4911aa): Only query one address at a time from a specific connection context
2. CM18 (3585e1d272b81ae6721123b112a977350b60d118d1394e5f01b94aaf13557cbc): Query multiple ad

[2016-09-15 03:31] kristovatlas commented on #132
I'll make a PR for this, and then I just need 1 or more ACK's on the PR before merging since this is an obvious edit that is in line with our previous discussions.

[2016-09-15 03:35] kristovatlas opened #133 "relist CR48 (coinshuffle criterion) under relevant attack"
At some point this criterion which describes CoinShuffle or other blinded coinjoins got de-listed from all attacks, but it belongs under this one:
- Transaction Participant attack: Defeat attempts by users to mix their coins by participating in mixing transactions and collecting information which can be used to map inputs to outputs in the mixing transaction (b96f9b2d4f7c554cefeac028f4c06f2a31bb5e

[2016-09-15 03:35] kristovatlas commented on #133
I'll make a PR and will just need 1 or more ACK's before merging since this is just fixing an obvious oversight.

[2016-09-16 03:44] kristovatlas commented on #34
Hey John,

We're moving toward capturing the data in a much more structured way for the next edition, which should make it very easy for someone to build a web app around the data. I'll try to keep this issue updated with progress.

The work in progress can be found in this repo and branch: https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/tree/reorg-to-scoring-system

[2016-09-25 03:41] kristovatlas commented on #37
@LaurentMT is working on a tool to compute intrinsic entropy for each transaction -- coming along very nicely so far and should be useful in our next report.

[2016-09-25 13:55] dcousens commented on #37
Is the entropy calculated as points of difference against your counter-parties?  Or against the entire blockchain?

[2016-09-25 15:29] kristovatlas commented on #37
@dcousens: oxt.me calculates against the entire blockchain ("extrinsic") and is updated over time; the new tool calculates it on a intra-transaction ("intrinsic") basis.

[2016-09-25 18:36] kristovatlas commented on #59
No new discussion on this -- I will create a PR to remove the aforementioned attack.

[2016-09-25 18:45] kristovatlas opened #134 "consider rewording attacks related to change instead in terms of output ownership"
At least one attack is currently worded in terms of identifying change. For example:
I B (992616b5f39e8ee98e07026f40798b002307e741ff6e8343f2a1bc964302f173): Link outputs in a transaction to a single entity by detecting which output is a change output

For transactions that involve more than two recipients of outputs (sender, receiver), the more general version of this idea is to identify output ow

[2016-09-25 19:46] kristovatlas commented on #53
No new discussion -- I will create a PR to remove the attack.

[2016-09-25 19:53] kristovatlas commented on #53
Once the PR is merged, I plan to change the milestone to 4th edition and re add these tags in case we want to re-introduce the attack I just removed:
- attack
- countermeasure
- criteria
- discussion needed

[2016-09-26 00:47] dcousens commented on #37
I'd be curious to see what algorithm is used to calculate the entropy?
Is it simply the number of bits encoded then differenced bit-for-bit?
With some bit-alignment accounting for the underlying data structures.

At least,  that's what I'd do... I should make a lib for that.

[2016-09-28 23:25] kristovatlas commented on #28
JSON Comment: BIP 70 compatible clients MAY abstain from broadcasting the transaction to the Bitcoin P2P network and thus fulfill this criteria.

IP address may be leaked to the sender instead of the Bitcoin P2P network or a wallet provider.

[2016-09-28 23:32] crwatkins commented on #28
Ack

[2016-09-29 00:43] dcousens commented on #28
ACK

[2016-10-01 13:46] LaurentMT commented on #37
Hi dcousens,

Basically, the algorithm tries to solve a counting problem. It computes the number of valid mappings between inputs & outputs of a transaction, the matching being done on txo amounts. Moreover, it computes the probabilities of a link between the inputs and outputs.

For instance, this transaction (https://oxt.me/transaction/8e56317360a548e8ef28ec475878ef70d1371bee3526c017ac22ad61ae57

[2016-10-02 00:45] dcousens commented on #37
Why is it not assumed `(I1)=>(O1, O4)` can't exist?

I'm going to have re-read those gists a few more times :)

[2016-10-02 18:00] LaurentMT commented on #37
The only combination having I1 linked to both O1 & O4 is the last one which implies that all inputs are linked to all outputs. In plain english, we may describe this combination by : "This transaction looks like a coinjoin transaction but it was crafted by a single entity/user trying to trick us into thinking that this transaction is a coinjoin with 2 participants".

This combination (all inputs l

[2016-10-03 03:56] kristovatlas commented on #37
IIRC I took a similar approach when I wrote a coinjoin sudoku tool back in the day.

[2016-10-05 04:42] kristovatlas commented on #46
All of the criteria in this issue have now been merged into a working branch.

[2016-10-05 04:42] #46 closed, assigned to nobody

[2016-10-05 04:45] kristovatlas commented on #52
All of the criteria-related changes have been reflected in the merged PR.

[2016-10-05 04:45] #52 closed, assigned to nobody

[2016-10-05 04:50] kristovatlas commented on #42
All criteria related changes are satisfied in the latest merged PR.

[2016-10-05 04:50] #42 closed, assigned to nobody

[2016-10-05 04:54] kristovatlas commented on #59
All criteria related changes are now reflected in (a) merged PR(s).

[2016-10-05 04:54] #59 closed, assigned to nobody

[2016-10-05 05:15] dcousens commented on #52
ACK

[2016-10-05 05:16] dcousens commented on #46
Do we have any attacks that correlate users looking up their own (unpopular) addresses,  whenever,  allowing block explorers to track them?
In terms of how it relates to wallet,  if the wallet encourages a link to a block explorer at all that doesn't use probabilistic filters... even if the application itself does.

[2016-10-05 05:17] dcousens commented on #46
Maybe it could warn/discourage users "copying" addresses/transactions out of the application etc

[2016-10-05 23:04] kristovatlas opened #135 "Determine Severity Benchmarks for 3rd edition"
We'll put some notes about our discussion of severity benchmarks in this issue.

Severity benchmarks help us determine weight or effectiveness of elements in the threat model by providing more granularity and systematic metrics for obtain weights and effectiveness scores.

They should be
- Unique
- Mostly not overlapping or co-dependent
- Estimable/non-ambiguous
- Invoked at an appropriate level o

[2016-10-05 23:14] kristovatlas commented on #135
Some possible benchmarks for consideration:
- Likelihood of attack against average Bitcoin wallet client user (_This should characterize the likelihood that the average user will be targeted based on present, historical, and likely future conditions_)
- Likelihood that attack has been conducted against the average Bitcoin wallet client user in the past (_This should characterize the likelihood tha

[2016-10-05 23:24] kristovatlas commented on #135
A high-level formula: Weight is information profit.
  `Information profit = Benefit to attacker - Cost to attacker`

We should expect the following results:
- Low resource attackers will not attempt attacks that cost more than their resources
- High resource attackers will always choose the attack with the most information profit

Other security models in the past have used:

Severity = Impact \*

[2016-10-05 23:49] dcousens commented on #135
- Scales of attack (Blockchain > Neighbourhood > Wallet Application > User)

[2016-10-06 00:04] kristovatlas commented on #135
A few initial notes from myself and @dcousens comparing the Blockchain observer and network observer attacker categories:

Blockchain attacker is:
- passive
- scaling the attack is linear
- low cost (small business resources to do in-shop, various free resources, about $10k to subscribe to analytics)

Network attacker is:
- interactive (to varying degrees)
- generally more targeted in nature
- som

[2016-10-06 00:16] kristovatlas commented on #135
Some assumptions we're using:
- The average user has connected his online identity with at least one bitcoin address publicly
- The average user has a small number of wallets, probably 1
- The average user has a small number of total bitcoin addresses, Jonas Nick estimated this number to be less than 10
- Average user is not using a P2P wallet client. (Our model should account for both types of wa

[2016-10-06 00:18] kristovatlas commented on #135
The cost for a Blockchain observer to attack the average user individually: 1 on scale of 1 to 5 (close to free)
Scaling to many users: hundreds of thousands of dollars to create a service to do this. We're ignoring people who subscribe to such services.

The cost for a Network observer to attack an individual: High cost, probably millions of dollars for a network attacker to insert himself into n

[2016-10-06 02:57] kristovatlas commented on #132
This is completely fulfilled by the merged PR.

[2016-10-06 02:57] #132 closed, assigned to kristovatlas

[2016-10-09 16:32] kristovatlas opened #136 "Countermeasure against linking IP to address based on first hop analysis: random delays"
I don't immediately follow how analytics attackers are measuring time to link IP address to first hop, but @TheBlueMatt suggested that they are using this currently, and that a valid countermeasure is to use mixnets with random delays in the routing portion of P2P clients' network protocol.

The discussion starts a little bit earlier than this timestamp in this presentation: https://youtu.be/8BLWU

[2016-10-09 16:36] kristovatlas commented on #136
The relevant parts of the 3rd edition threat model are currently:
- II D: Link a transaction's input address(es) to a specific IP address by observing the first relay of a broadcasted transaction (96d8d118a8a65aa8dbad15dbfd78365f7cda16e4bfa7ceeabdc1b5cd7e92a2f9)
  - Neither CM11 (c0933c692a76d18c3c20f6346eb4a02ba703b5ac12cb6c060a05e2a29cd6000f) nor CM20 (797090dd00d11157408f5c11bc4d55bcf95a281fae9

[2016-10-10 02:41] dcousens commented on #115
ping @kristovatlas

[2016-10-10 02:43] dcousens commented on #115
This was also brought up by @TheBlueMatt at _Scaling Bitcoin_: https://youtu.be/8BLWUUPfh2Q?t=1952

[2016-10-10 05:04] dcousens commented on #116
@kristovatlas

[code]

Code: https://github.com/dcousens/fast-dat-parser/commit/cc8dea9d511eafc0611909932fe95a077e13dcf3#diff-0151b0e0f4dbbf4014aec7616f7bf55dR182
Run time: ~4 minutes :cry:

Might be time to get a PCI-E SSD haha,  then it'll only be ~1 minute.

[2016-10-12 20:33] crwatkins commented on #116
Thanks @dcousens !  Let's kick the can.

[2016-10-12 22:36] dcousens commented on #116
Suggestions for possible criteria
- Match your transaction version with majority transactions in your block (or recent blocks)  or
- Match your transaction version with majority transactions in your history/cluster
- Version 1

[2016-10-17 15:52] kristovatlas commented on #115
The sequence and locktime values used to accomplish this make Bitcoin-Qt much more easily fingerprinted, which is what @TheBlueMatt said.

I think this is a pretty minor info leak for wallets that don't delay broadcast, which is almost all of them, or all of them. However, this would obviously foil delayed broadcasts.

I propose that we have a fee sniping question in our 3rd edition wallet provide

[2016-10-18 00:21] dcousens commented on #115
Agreed.

I think for now its relevant solely from a point of view of `nLockTime` being rare.
From a "whole blockchain" point of view.

[code]

Having a `nLockTime != 0` would liken you to 8.87% of all transactions **ever**.
However, in the last ~19000 blocks:

[code]

You'd be akin to 17.08% of all transactions.

Source: https://github.com/dcousens/fast-dat-parser/blob/master/functors.hpp#L157-L16

[2016-10-18 22:28] TheBlueMatt commented on #136
One of the primary goals of analytics attackers is to group transactions which were likely generated by the same group/entity/etc. A lot of your guide focuses on preventing grouping based on the wallet which generated a transaction, equivalently, however, attackers connect to the entire network in an attempt to identify which services/nodes transactions came from, potentially identifying either /t

[2016-10-26 20:00] TheBlueMatt commented on #115
Ultimately this is one of the privacy things where it sucks that only one or two wallets do this, but if you're gonna make a recommendation, ideally you would recommend that wallets do this. While its relatively limited, it is some small dent in long-term incentive incompatibility.

[2016-11-02 23:17] kristovatlas commented on #135
For reference, threat model: https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/blob/reorg-to-scoring-system/obpp3.json

[2016-11-02 23:34] dcousens commented on #135
### Blockchain Attacks

#### I.A

- Related addresses (by association with common address)
- Related transactions (by association with common address)

#### I.B

- Co-ownership of addresses (by determination of what is a change output)

#### I.C

- Co-ownership of addresses (through the assumption of 1 transaction signing identity)

#### I.D

- Co-ownership of addresses (by association with the ot

[2016-11-02 23:47] kristovatlas commented on #135
I.C and I.D are equivalent from the attacker's perspective and so should have a very similar or same weight.

[2016-11-02 23:47] dcousens commented on #135
@kristovatlas agreed, and I think they should be merged :+1:

[2016-11-02 23:53] kristovatlas commented on #135
I.E could be split into a second attack: Link transactions or addresses to a single entity based on a common wallet client fingerprint.

[2016-11-03 00:17] dcousens commented on #135
Addresses may have transactions.
Transactions always have addresses (outputs).

Therefore, leaking related transactions leaks related addresses.
But,  leaking addresses doesn't always leak transactions (as they may have 0 transactions!).
And,  leaking addresses does leak **future** transactions.
And,  leaking related addresses does leak **future** related transactions.

[2016-11-03 00:35] kristovatlas opened #137 "add countermeasure -- do not update blockchain data filters"
attack II.E is:
`Reduce the false positive rate of filters by comparing how the filters received from a single client change over time` (7df9676792e7439f391c641a206ed4505d6bdf7b5c43f4c8b1dcecf4776ebc75)

It currently only has one countermeasure, OBPPV3/CM22 (eb0dc1462a3d90740def288f8407a3501032a00d92d8ef1926b60778a6a20d86):
`If a filter requires an update, send the new filter to a different peer t

[2016-11-03 00:35] kristovatlas commented on #137
@dcousens ok with you?

Edit: See below comment

[2016-11-03 00:44] kristovatlas commented on #137
Attack II.F has a similar problem. It's:
`Reduce the false positive rate of filters by comparing the transactions sent by a client with the filter they have sent`

with only one countermeasure OBPPV3/CM23 (06c9f3f3cf6304568134f64cb27f622c44a73e40c24fe2730164dfbb700b2e73):
`Route outgoing transactions through a different route than through the peer which is providing relevant blockchain data`

I've

[2016-11-03 00:46] dcousens commented on #137
What do you mean by "updated"?

[2016-11-03 00:48] kristovatlas commented on #137
Yeah, this is a ill-defined or non-concept. The idea was that you would somehow create a bloom filters A and B, where B includes the same addresses in A plus some extra ones not in A, but somehow make it difficult to correlate A and B.

Maybe you could monkey around the false positive rates between A and B, but it's not obvious to me how.

[2016-11-03 00:52] kristovatlas commented on #135
Going through the Network Observer attacks to make sure that the following two severity benchmarks are not very different values for full nodes vs SPV vs thin client:

- II.A: `Link addresses belonging to a single user by observing information leaked by the wallet in the process of obtaining its relevant blockchain data from the network`
  - No problem -- full nodes have full countermeasure (`Bloc

[2016-11-03 01:02] dcousens commented on #137
I suppose you could take several different bloom filters, compare their address sets and try and derive a subset of the addresses involved with a lower false positive rate.
But,  it'd be based only on [blockchain] data you have, not data you don't have (obviously).

[2016-11-03 04:22] kristovatlas commented on #137
CM16 and CR25  should also be listed under II.G: `Link different identities based on a bloom/prefix filter or other query that matches blockchain data associated with multiple identities`

[2016-11-08 04:02] kristovatlas commented on #136
@TheBlueMatt

Thanks for explaining more about the delay strategy you have planned for Core and how mixnets will be involved.

Are you able to explain why this is? Is this because a nodes broadcasting transactions will only send them to a subset of their connected peers?

[2016-11-08 04:04] kristovatlas commented on #133
PR was merged.

[2016-11-08 04:05] #133 closed, assigned to kristovatlas

[2016-11-10 00:34] kristovatlas commented on #135
Need to reorg network attacks:

1 and 2 should be combined.

3 and 12 should be combined with a new attack, which is the tx version of 1 & 2 which deals with addresses. Need to create new countermeasures/criteria to discriminate.

3 is about clustering based on common IP address, whereas 4 can lead to more investigation about the particular IP address.

Daniel suggests eliminating 6 (F): By using

[2016-11-10 00:50] dcousens opened #138 "Add criteria (NO 5-of-16)"
Don't ever "change" filters over time.
Keep the data included in any given bloom filter constant, such that there is **no** overlap.

Filter 1: addresses[i], where i is 0-50
Filter 2: addresses[i], where i is 51-100
etc

[2016-11-10 00:50] dcousens commented on #135
#### Network Observer Attack 5 of 16

Related Addresses, or
Related Transactions (depending on what is used) (by comparing filters for commonality of matching data)

[2016-11-10 01:19] kristovatlas commented on #135
2 valid criteria:
-different tor connections to multiple or same peer
-using different peers for different activities, e.g. 1 for broadcasting and 1 for querying.

The second is less robust b/c it's based on the probability that the peers aren't colluding.

[2016-11-10 01:23] kristovatlas commented on #135
for I.D and II.G the info leaked is: related identities

[2016-11-14 22:12] kristovatlas opened #139 "Add Network observer attack: Identify Internet user as a Bitcoin user"
Thinking about what may be leaked by using a full node client without a private network to obfuscate IP address, this is one of the things betrayed.

Countermeasure: Tor/VPN/etc.

[2016-11-14 23:12] kristovatlas opened #140 "Add Attacker category descriptions"
This would be included in documentation to help the threat model reader understand which concrete instances of attackers may fall into the correct attacker categories.

Network Observer:

**A network observer passively collects information about network traffic containing Bitcoin-related data. Examples of network observers include providers of thin client-server wallets, Bitcoin P2P nodes, and Int

[2016-11-14 23:14] dcousens commented on #139
Was relating "bitcoin activity time" to "corresponding transactions in the mempool at that time" an attack?
I know we had similar,  but I think it was related to matching it against an existing set of related addresses,  not "all transactions in the mempool".

[2016-11-14 23:21] kristovatlas commented on #140
Blockchain Observer:

A blockchain observer downloads blockchain data and analyzes it for probable clusters of co-owned funds and other relationships. The blocks downloaded and retained may include both those included on the current best chain as well as stale blocks. As blockchain data is necessarily retained indefinitely, a blockchain observer can begin collection and analysis of data at any poi

[2016-11-14 23:24] kristovatlas commented on #140
Protocol Peer:

A protocol peer attacker is a Bitcoin P2P node that interacts directly with a victim client. Attacks in this category do not belong to the "Network Observer" category because they do not apply to wallet clients that do not connect directly to the Bitcoin P2P network.

[2016-11-14 23:26] kristovatlas commented on #140
Transaction participant:

Transaction participants send funds to, receive funds from, or co-sign with a victim user in a Bitcoin transaction.

[2016-11-14 23:30] kristovatlas commented on #140
Physical adversary:

A physical adversary uses physical proximity to observer a victim user's Bitcoin-related behavior. Examples of physical adversaries include surveillance cameras, shoulder-surfing humans, and forensic investigators with physical access to a victim user's device.

[2016-11-14 23:32] kristovatlas commented on #140
Wallet provider:

A wallet provider writes and transmits Bitcoin client software to the user. Some attacks that can be carried out by wallet providers with privileged access to data will instead fall under the "Network observer" category.

[2016-11-14 23:34] kristovatlas commented on #140
Meta attacks:

Meta attacks describe wallet client functionality that does not directly impact user privacy but is likely to lead users to make positive or negative privacy decisions.

[2016-11-14 23:43] dcousens commented on #140
I think the description is obvious enough,  but not the implications of what attacks they "could do" (see first 2 descriptions which hint at what they're attacks consist of).

Maybe something like

But less specific.

Maybe mention CoinJoin participants, etc.

[2016-11-29 04:55] kristovatlas opened #141 "new criterion: wallet client uses Tor when Tor is running with default configuration"
This can potentially save a user many clicks if they already have Tor going, e.g. have opened Tor Browser.

I think Bitcoin-Qt does this.

This is not a substitute for a fully packaged version of Tor that runs automatically when the wallet client is opened, but could be considered a weaker version.

[2016-12-01 02:05] kristovatlas commented on #135
Tonight myself, @crwatkins, and @dcousens discussed re-organization of network attacks. We discussed proposed changes in the above comments and some offline work we've been doing. A few notes:

- [x] Attack II.B in the working draft can be generalized to include other kinds of non-transaction identity data, including not just IP address but also time zone, bandwidth/latency capabilities, cookies,

[2016-12-15 01:29] kristovatlas commented on #140
@crwatkins and I met tonight and we signed off on the first 6 reorganized network attacks that I came up with using our decisions from the last meeting.

One problem we’re bumping into is that we need to commit to who the attacker is specifically in the “Network Observer” attacker category. It could include:

1. Passive eavesdroppers like ISPs/ASs
2. Protocol peers
3. Wallet providers for thin cli

[2016-12-15 04:22] crwatkins commented on #140
ACK

[2016-12-17 03:49] dcousens commented on #115
This is captured by https://github.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/blob/reorg-to-scoring-system/obpp3.hjson#L699

But from a blockchain attacker,  not network observer

[2016-12-17 03:51] dcousens commented on #116
The version 2 changed was merged... https://github.com/bitcoin/bitcoin/pull/7562

`bitcoinqt` is going to stand out for a while, especially considering https://github.com/OpenBitcoinPrivacyProject/wallet-ratings/issues/116#issuecomment-252538504

ping @btcdrak

[2016-12-17 08:49] btcdrak commented on #116
Yeah, this should be changed by default to 2.

[2016-12-17 08:51] dcousens commented on #116
@btcdrak I don't think so.   In terms of a privacy threat rating... until version 2 makes up the *majority* of transactions... it would be detrimental?

[2016-12-17 08:59] btcdrak commented on #116
@dcousens As a library with a lot of downstream wallet users etc, it will cause a huge amount of transaction producers to create v2 and immediately improve the situation.

[2016-12-17 09:15] btcdrak commented on #116
@dcousens Sorry, I though I was commenting on a bitcoinlib-js ticket :) I agree, the recommendation shouldnt change for wallet ratings (but libraries should update because it will mean lots of diverse transaction producers will start producing those transactions). It must be noted that that any wallets that support creating replacable transactions also produce v2 txs today already.

[2016-12-17 11:17] dcousens commented on #116
Indeed,  but it would appear that number was **very** low,  with only 61 version 2 transactions as of 10th October.

[2016-12-17 18:38] kristovatlas commented on #116
ACK on both as valid approaches. Suggest we add those to 4th edition threat model.

I'd alter this one to "most common version number over last 144 blocks" or something like that, which I hope we could quickly measure with fast-dat-parser.

This might be worth adding to 3rd edition threat model as there will likely be at least one significant wallet we rate that will deviate from tx v1.

Nice work

[2016-12-17 18:41] kristovatlas commented on #115
@TheBlueMatt: Just to clarify, we're not looking to make recommendations with these threat model elements, but to measure the current state of affairs.

[2016-12-17 18:43] kristovatlas commented on #115
For posterity, Daniel is referring to CM30:
[code]

Should we add a relevant attack/countermeasure for blockchain observer attacker as well for 4th edition, @dcousens ?

[2016-12-18 01:55] dcousens commented on #115
@kristovatlas absolutely,  this is the recording of a wallets stateful information into the blockchain through a transaction (through means other than the selected inputs).

[2016-12-22 00:12] kristovatlas commented on #115
TODO: list CM30 under an appropriate Blockchain Observer attack

[2016-12-22 01:24] kristovatlas commented on #140
Resolution to the above quandary from tonight's meeting with me, @crwatkins, and @dcousens: Network observer category stays the same, but we will note that the network observer attacker will be the kind of network observer that poses the greatest threat to the user given the nature of the attack and the architecture of the wallet client. For example, for an attack that links IP address to a transa

[2016-12-29 00:27] kristovatlas opened #142 "Network criteria: Fingerprint specific client version based on SSL cipher suites"
via @crwatkins: The client could have cipher suite support hard coded, and change over the course of versions. A passive network observer could see which ciphers are supported and fingerprint to a particular client on this basis in conjunction with other data leaked such DNS lookup of the wallet provider's domain.

This would fall under here in the current working version of threat model:
Network

[2017-01-03 00:13] dcousens commented on #142
Wouldn't this just come under wallet idiosyncrasies? Or is the point to be more specific?

[2017-02-02 18:37] TheBlueMatt commented on #136
Oops, just realized I hadnt responded to this...so the idea isnt new here: the easy way to attack someone introducing random noise into your statistics is to gather more data. We are even worse because we, randomly, sometimes do fast-relay (IIRC), which results in, if you have enough connections, you will likely always get fast-relay over at least one of them.

[2017-02-02 19:55] kristovatlas commented on #136
@TheBlueMatt thank you

[2017-05-29 01:27] #138 closed, assigned to nobody

[2017-05-29 01:27] dcousens commented on #138
This was added?

[2017-06-01 00:50] dcousens opened #143 "Criterion: Don't allow users to screenshot sensitive data"
This is more of a UX issue than a technical.
One approach might be to never show the entire mnemonic on screen at one time.

Etc.

Mitigates external non-sandboxed data leak.

[2017-06-01 01:28] kristovatlas commented on #63
The attack will be left with an empty list of countermeasures for 3rd edition. We discussed this attack tonight and decided to try to "penalize" wallets who obviously publicly misrepresent their privacy in the blurb describing the wallet in the next report, rather than factoring it into the 3rd edition score.

We'll revisit the issue of countermeasures/criteria for 4th edition of the threat model.

[2017-06-16 14:36] dcousens commented on #115
Was this added?

[2017-06-16 14:37] dcousens commented on #116
Was this added?

[2017-07-20 01:22] kristovatlas opened #144 "Determine weight for temporal window for attack as a cost factor"
Earlier tonight @crwatkins and I discussed the sub-severity benchmark of Temporal Window for Attack, which is a cost factor for an attacker.

The three values we’re considering so far for temporal window attack are:
1. Necessarily long
2. Long starting when data logging begins
3. Necessarily short

Blockchain observer attacks have a necessarily long opportunity for attacks since everyone gets a fr

[2017-09-28 04:53] kristovatlas commented on #58
For the third edition, this notion in a blockchain context is captured by:

[code]

Craig and I revisited this attack tonight in the context of estimating the cost to the attacker to execute it against 50% (est 5M) of Bitcoin users.

We observed in some conversations that we were mixing this attack with shoulder surfing attacks that could gain a lot of information about a victim but which would be

[2017-09-28 04:57] kristovatlas commented on #58
Attack I.F previously had these two Information Compromised classes as benefits:
* Linking transactions to out-of-band behavior
* High-confidence linkage of transactions

The linkage of transactions will be downgraded to low-confidence. Linking transactions to out-of-band behavior is split into low- and high-confidence, with low assigned to this attack and high to the other attacks that held this

[2018-02-01 06:26] #115 closed, assigned to nobody

[2018-02-01 07:39] dcousens commented on #116
As of 2018-02-01

[code]

[2018-02-01 07:42] dcousens commented on #116
From the last 4+ months
[code]

(Ref https://github.com/dcousens/fast-dat-parser/blob/d2d4c758f9292d00a17c832ea87d5c72880dab7f/src/statistics.hpp#L54)

[2018-02-01 07:46] dcousens commented on #116
Does that seem right?  33% have non-final sequence numbers?

[2018-03-28 22:29] kristovatlas opened #145 "Criteria: Does wallet with BIP70 support reserve a refund address?"
Wallets that support BIP70 refund field in payment message may negligently permit address reuse.

Some wallets to check out include:
mycelium (added support circa july 15)
copay — some limitations in README.md
multibit HD
GreenBits

[2018-04-14 06:52] dcousens commented on #143
Not really a privacy thing?

[2018-04-14 19:36] kristovatlas commented on #143
Seems like a legit privacy concern to me.

[2018-06-20 22:01] crwatkins commented on #137
A countermeasure is discussed in [BIP 157 & BIP 158](https://github.com/bitcoin/bips/pull/636)

[2018-08-15 19:15] kristovatlas commented on #65
[code]

[2018-08-15 19:15] kristovatlas commented on #65
[code]

[2018-08-15 19:24] kristovatlas commented on #65
Probably the best way to address this would be to measure the number of clicks the user must perform in order to reuse a change address for those wallets that do not support eternal backups (MAX_INT for wallet clients who use eternal backups), since users will inevitably weigh their fear of stale backups against the difficult of reusing change addresses; wallets without eternal backups that reuse

[2018-08-15 19:27] kristovatlas commented on #60
[code]

[2018-08-15 19:32] kristovatlas commented on #60
exiting criteria:

[code]
this corresponds to 1) above
[code]
(todo fix typo s/udpate/update/)

this is 2):
[code]

this is 3):
[code]

Therefore `reorg-to-scoring-system/obpp3.hjson` already satisfies what is discussed in this issue. Closing.

[2018-08-15 19:32] #60 closed, assigned to nobody

[2018-08-15 19:32] kristovatlas commented on #60
https://raw.githubusercontent.com/OpenBitcoinPrivacyProject/threat-model-scoring-system/reorg-to-scoring-system/obpp3.hjson

[2018-08-15 19:37] kristovatlas commented on #44
Sorry, I see where the quote is from, now.

It would work as follows: Any time the user is sending funds that results in merging multiple inputs (perhaps excepting BIP 126 compliant transactions or multi-user join transactions), the user would be shown a warning dialogue that the transaction will result in a loss of utxo privacy.

[2020-02-11 04:17] kristovatlas opened #146 "add to threat model to cover this bitcoin core rebroadcast feature"
https://github.com/bitcoin/bitcoin/pull/16698